[2018-08-10 21:50] GatoPharaoh opened #1 "FTL Update throwing "404 Not Found""
Core is updated but whenever I try to update my FTL it stops with a 404
Terminal output is a follows:

[code]
Tried all the instrucions - changed resolv.conf to 8.8.8.8 - nothing works, it won't update.
Pihole Version and Web Interface are at 4.0
FTL is stuck at 3.0

[2018-08-11 03:53] arevindh commented on #1
Try `pihole checkout master `

[2018-08-12 01:35] GatoPharaoh commented on #1
Uninstalled the speedtest-mod and updated.
Now it's working again

[2018-08-12 01:35] #1 closed

[2018-08-19 19:38] antiabed opened #2 "Result over last 24 hours instead over last 1 days"
This is very minor, but other stats in the Pi-hole interface say "Queries over last 24 hours", it would match better if the Speedtest stat used the phrasing "Speedtest results over last 24 hours: instead of "Speedtest results over last 1 Days".

[2018-08-20 13:51] arevindh commented on #2
@antiabed Speedtest mod supports multiple durations to show on the main dashboard, that's the reason why its shows `{duration}` days. Anyway, it won't matter anymore since pihole is getting rid of the current UI for a cleaner UI using ReactJS.

[2018-08-22 14:29] antiabed commented on #2
Ah, I didn't know that. Does that mean the speedtest won't be available anymore?

[2018-08-22 17:55] arevindh commented on #2
I'm along working with Pihole team to make it available on the next version too.

[2018-08-29 19:16] Illustratum commented on #2
Love this btw!

[2018-09-13 00:04] Conver opened #3 "Wrong PHP install using install.sh"
Hello,

I believe there is an typo in your install.sh

https://github.com/arevindh/pihole-speedtest/blob/master/install.sh#L15

If PHP 5 is found it install for PHP 7 and same the other way around.

It seems to only be a typo as the right version is install when uncomment.

[2018-09-13 03:13] arevindh commented on #3
Hi @Conver, fixed the typo. Please close the issue if the issue is fixed

[2018-09-13 03:14] #3 closed

[2018-09-28 11:18] gordon15969 opened #4 "Graphs issues from Left side to Right side."
The graph numbering is correct on the left side for speed, but as you go to the right side everything is multiplied by 10.  Please correct the right side of the speedtest results graph.

![screen shot 2018-09-28 at 7 11 36 am](https://user-images.githubusercontent.com/43672843/46205454-a28db100-c2ee-11e8-8142-5659403f6b37.png)

[2018-10-01 12:11] ctp-mandreasen commented on #4
Pretty sure you got
- bandwidth on the left side (blue/red)
- latency on the right side (green)
And judging from your graph the speedtestserver is pretty far from you.

That's the way mine works anyway.

[2018-10-01 12:39] arevindh commented on #4
@ctp-mandreasen I agree with @ctp-mandreasen.

[2018-12-03 09:33] Cupcake911 opened #5 "Limit bandwith to e.g. 80%"
Hello, I love the speedtest integration to pihole. It gives me the ability to have a statistic on my internet speed which is great. My only issue is that when it does the speedtest, it really uses 100% of the bandwith. I've noticed that while playing games like e.g. Rocket League when the game suddendly starts to lag because my raspberry-pi would consume all the bandwith for the speedtest. Would i

[2018-12-03 10:51] smfoo commented on #5
What's the use of a speed-test if you manipulate the results? And from understanding your scenario is not possible. To limit the speed-test to 80% you have to measure the 100% first => Lag. Or you enter your connection bandwidth manually. But then again there is no reason for a speed-test if you're not really testing the speed;)

[2018-12-03 11:52] mschroe82 commented on #5
@cupcake you are sure, that you got the sense of such speedtest ?

[2018-12-03 13:22] Cupcake911 commented on #5
Yeeeee of course I get what you guys mean, but I know that my internet speed can't get any faster then 100 down and 20 up, if only I could limit speedtest.net to only use a maximum of 90 mbit for download and 15 for upload that would be enough for me because the statistics would tell me that the internet connection is stable. I would love to keep it running every hour but in the evenings it get's

[2018-12-03 23:00] xardoniak opened #6 "Speedtest results on "Signed out" page"
I would love to see the Speedtest results without having to sign into PiHole!

[2018-12-08 03:38] arevindh commented on #5
@Cupcake911 Guess to you could do that in your firewall or router.
If you want you can easily write cron according to your needs. Try : [https://crontab-generator.org/](https://crontab-generator.org/)

[2018-12-08 03:40] arevindh commented on #6
I can make something to do that once the next official version is released.

[2018-12-08 03:41] #4 closed

[2018-12-11 23:13] cronus130 opened #7 "Pi-hole 4.1 Update"
Please update for compatibility with 4.1

[2018-12-12 02:37] arevindh commented on #7
The update is almost ready. Will be released today itself.

[2018-12-12 06:11] JourneyOver opened #8 "Script seems to stop at "Get latest pakage from github""
Pretty much title, running on raspberry pi with it all the way updated, and pihole all the way updated, the script works all the way up to "Get latest pakage from github" and then just sits there forcing me to finish doing everything else manually. I've tried multiple times, along with letting it sit there for over 10+ minutes without it budging any.

[2018-12-12 06:31] arevindh commented on #8
Can you try the wiki [ Installation Manual ](https://github.com/arevindh/pihole-speedtest/wiki/Installing-Speedtest-Mod)

[2018-12-12 06:42] JourneyOver commented on #8
doing things manual work just fine, it's just your install script that ends up hanging on the whole getting latest package from GitHub bit.

[2018-12-12 08:46] arevindh commented on #8
The script is not yet complete since there is much change in the coming version of Pi-hole will be only completing it once it is released.
Just added message to the script regarding that.

[2018-12-12 10:42] JourneyOver commented on #8
I fixed it actually, for some reason the "sudo su" was messing things up, as soon as I removed that and just made things

[code]

the script was actually able to get past things just fine, believe it or not, but upon reverting back to the old way with the sudo su in there it would go back to hanging again.

[2018-12-13 05:22] jaykepeters opened #9 "Can't Run Speedtest At All"
I followed your steps in the Wiki and got everything installed. I had to manually install speedtest-cli because pip was installing the wrong version. Second: when I try to run the speedtest, I get the following error:

[code]

Notes:
[code]

[2018-12-13 05:35] arevindh commented on #9
- Is it running on a RPi or VM?
- What was the issue here

- Which version of speedtest-cli are you using?
- Make sure that you have installed sqlite3 extention using `php -m | grep "sql"`

[2018-12-13 15:59] jaykepeters commented on #9
It is running on a VPS

The version I am running is 2.0.2

The result of the command is as follows:
pdo_sqlite
sqlite3

Let me know if you need any additional information.

Thanks,
Jayke

On Wed, Dec 12, 2018 at 11:35 PM Siddhu <notifications@github.com> wrote:

--
Jayke Peters
jaykepeters@gmail.com
+1 (320) 428-0505

[2018-12-30 20:12] cronus130 opened #10 "Pi-hole 4.1.1 Update"
Please update to latest Pi-hole version (4.1.1).

[2018-12-31 03:59] arevindh commented on #10
Update under progress to Pi-hole v4.1.2 Hotfix

[2019-01-06 23:22] navisayslisten opened #11 "Does not show graph display on dashboard. Console errors."
Pi-hole Version v4.1.1 Web Interface Version v4.1.1 FTL Version v4.1.2
Browsers: Chrome v71, Firefox Quantum v65

I initially thought this was a Chrome issue only, but I had the wrong debug window open.

`Uncaught TypeError: Cannot read property 'length' of null
    at Object.acquireContext (Chart.bundle.min.js:10)
    at t.construct (Chart.bundle.min.js:10)
    at new t (Chart.bundle.min.js:10)

[2019-01-07 05:30] arevindh commented on #11
Can you try running `sudo pihole -a -sn` and try again

[2019-01-07 14:41] navisayslisten commented on #11
Command works but I get the same errors. No graph displays. I now have two results in the Speedtest page table.

[2019-01-10 18:14] navisayslisten commented on #11
Yes, sorry this took a while to respond to. The result of that query is `[]` an empty array on a white page.

[2019-01-10 18:21] arevindh commented on #11
Can you try install and uninstall

[2019-01-10 18:35] navisayslisten commented on #11
I followed the uninstall instructions, then followed the install instructions again, then ran `sudo pihole -a -sn`

The graphs still do not display on the dashboard, and the console errors are identical. The speedtest page now shows 3 results in the table.

The result of the query you gave me now returns with a result

`[{"id":3,"start_time":"2019-01-10 11:31:03","stop_time":"2019-01-10 11:31:32",

[2019-01-10 18:39] navisayslisten commented on #11
After updating the speedtest schedule under Settings, the graph now displays.

[2019-02-03 03:59] zejjnt opened #12 "Request/help: Several graphs if the device has more than one IP/connection"
I also use my piHole as a VPN client for tunneling my DNS requests and therefore the speedtest is also being tunnelled.
Because the pi does not have enough processing power to use the full speed along with the overhead from the VPN around 1/5th of the actual speed is shown in the graph and I would like to make an additional test from eth0 also (instead of just tun0 right now).
I understand that th

[2019-02-03 04:43] zejjnt commented on #12
Just remembered, ability to run the test every 30 minutes or even 15 would be great. Right now I have to fix it in cron :)

[2019-02-06 01:02] abacao commented on #6
Would also be cool if we could choose the minutes of the run for example 06:47

[2019-02-09 16:38] abacao opened #13 "Speedtest values are strange in the UI."
Hello,

My values in the webui are quite strange and much different than in the CLI.

Is that a bug in the latest version with the latest pihole version?

I'm running these versions:
Pi-hole Version v4.2.1 Web Interface Version v4.1.2 (Update available!) FTL Version v4.2.1

[2019-02-13 04:00] cronus130 opened #14 "Update to 4.2"
Please update to latest version.

[2019-02-14 05:57] arevindh commented on #14
Updated to v4.2

[2019-02-14 05:57] #14 closed

[2019-02-14 05:58] arevindh commented on #13
Can you provide some screenshots

[2019-02-14 09:08] abacao commented on #13
https://imgur.com/a/pkOxU2L

All are automatic besides the 2 at the top.

The ones that underlined were run in the machine with this command

[2019-03-07 03:49] cronus130 opened #15 "Update to 4.2.2"
Please update to latest version.

[2019-03-07 06:08] arevindh commented on #15
No changes needed for speedtest mod.
Use update instructions [here](https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod)

[2019-03-07 06:12] #15 closed

[2019-04-28 12:49] gwala opened #16 "Speedtest Schedule: cannot change settings"
I configured the scheduling to every hour (Settings->Speedtest->Speedtest Schedule).
Now I cannot revert it back to every 6 hours.
When I set the new value and apply, the old value (1 hour) remain.
I have tried to update PiHole, and also have reconfigured ("pihole -r") but problem still persist.

[2019-04-28 13:27] arevindh commented on #16
Try this
[code]
If its still not working give the o/p of the command below
`cd /var/www/html/admin`
`git remote -v`

[2019-05-22 03:37] cronus130 opened #17 "Update to 4.3"
Please update to latest version.

[2019-05-22 03:44] #17 closed

[2019-05-22 04:15] arevindh commented on #16
Closing due to no response

[2019-05-22 04:15] #16 closed

[2019-05-22 05:10] arevindh commented on #11
I’m closing this issue because it has been inactive for a few months. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version and then please use the [thin link](https://git

[2019-05-22 05:11] #11 closed

[2019-05-22 05:15] arevindh commented on #5
It can only be implemented once [speedtest-cli git](https://github.com/sivel/speedtest-cli) implements it.

[2019-05-22 05:15] #5 closed

[2019-05-22 05:16] arevindh commented on #9
I’m closing this issue because it has been inactive for a few months. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version and then please use the [this link](https://git

[2019-05-22 05:16] #9 closed

[2019-05-22 05:17] arevindh commented on #13
I’m closing this issue because it has been inactive for a few months. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the latest stable version and then please use the [this link](https://git

[2019-05-22 05:17] #13 closed

[2019-05-22 07:02] abacao opened #18 "Integration to original project"
Hi there,

Have you tried to open a feature PR in the original project adding this mod to the original project?
It would be great if pihole accepted this in their code.  The installation would become easier to more people and the updates for pihole would be easier for everyone who had the mod.

[2019-05-22 13:44] arevindh commented on #18
Here the reply from them [Link](https://discourse.pi-hole.net/t/simple-speedtest-added-to-pihole-web-ui-takes-tests-every-hour/4053/7?u=itsmesid)

[2019-06-25 17:20] #18 closed

[2019-07-01 07:59] arevindh opened #19 "Update to version v4.3.1"
Update to version v4.3.1 from official repo

[2019-07-02 15:18] arevindh commented on #19
Update completed
[Pihole Core Release](https://github.com/arevindh/pi-hole/releases/tag/v4.3.1), no Web Release

[2019-07-02 15:18] #19 closed

[2019-08-07 03:53] cronus130 opened #20 "Raspberry Pi 4 Raspbian Buster Lite"
Speedtest installs and runs normally via command line manually, however it doesn’t run automatically when scheduled in the GUI.

[2019-08-07 05:26] arevindh commented on #20
Is it a fresh install or an upgrade?

[2019-08-07 18:42] cronus130 commented on #20
Fresh install, including all latest updates/patches.

[2019-08-09 04:40] arevindh commented on #20
Can you retry the [update](https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod) script, set the test period to 1 hour in the settings page then check after few hours.

[2019-08-09 17:59] cronus130 commented on #20
I've run the update script as well as a complete uninstall and reinstall, same problem. I have it set to 1 hour with a 7 day range.

[2019-08-09 19:06] arevindh commented on #20
The issues seem to come from crontab. Let me try to fix it.

[2019-08-09 20:24] arevindh commented on #20
@cronus130 Can you run the update [script ](https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod)and try once more.

[2019-08-09 23:09] cronus130 commented on #20
Looks like that did it, just completed the first speedtest automatically.

[2019-08-10 00:07] #20 closed

[2019-08-31 12:31] elisa9180 opened #21 "After Restart Pihole docker container dont start"
[s6-finish] syncing disks.

[s6-finish] sending all processes the TERM signal.

[s6-finish] sending all processes the KILL signal and exiting.

[s6-init] making user provided files available at /var/run/s6/etc...exited 0.

[s6-init] ensuring user provided files have correct perms...exited 0.

[fix-attrs.d] applying ownership & permissions fixes...

[fix-attrs.d] 01-resolver-resolv: applying...

[f

[2019-09-01 04:45] arevindh commented on #21
Can you give relevant files to test from my side?

[2019-09-01 05:40] elisa9180 commented on #21
I can give you the docker compose install the speed test in the container and reboot you will see the container don't start pihole any more.

Change the serverIP in your IP RANGE and also your HOME detections

sudo docker run -d --name "pihole" -p 53:53/tcp -p 53:53/udp -p 67:67/udp -p 8080:80 -p 4443:443 --dns 127.0.0.1 --dns 1.1.1.1 --cap-add=NET_ADMIN -v "/home/docker/pihole/piholednsmasq.d/:/e

[2019-09-10 17:40] aibaron opened #22 "Speedtest Settings Always revert to Disabled"
After initial install, I changed Speedtest settings from Disabled to Every 1 Hour and clicked save. The flag on the top showed that settings have been updated; however, the settings display disabled again immediately.

Did I screw up the install somehow?
See attached video:
![PiHoleSpeeds](https://user-images.githubusercontent.com/50992992/64636771-0b6b1d80-d3c8-11e9-8b0d-72c48b82a758.gif)

[2019-09-11 02:26] aibaron commented on #22
Update - not sure what I did, but I ended up just uninstalling it and reinstalling and it works fine now.

[2019-09-11 02:26] #22 closed

[2019-09-11 11:00] paralovosca opened #23 "Speedtest upload capped"
Love the mod!

Only issue I seem to have is upload appears to show as capped at ~2.8 Mbits with very little deviation.  Download looks good and will show appropriate deviations.

[2019-09-12 19:16] Zeykox opened #24 "problem with custom server"
I'm currently using a custom server for my speedtest and idk how to remove it so yeah i want to know how do put it back to normal

[2019-09-14 16:20] arevindh commented on #24
Just clear the number and save

[2019-09-14 16:21] arevindh commented on #23
It won't cap your upload, check your firewall.

[2019-09-14 16:22] arevindh commented on #21
If you can give docker-compose, will try it from end.

[2019-09-14 16:53] elisa9180 commented on #21
docker run -d --name "pihole" -p 53:53/tcp -p 53:53/udp -p 67:67/udp -p 8080:80 -p 4443:443 --dns 127.0.0.1 --dns 1.1.1.1 --cap-add=NET_ADMIN -v "/home/docker/pihole/piholednsmasq.d/:/etc/piholednsmasq.d/" -v /etc/localtime:/etc/localtime:ro -v "/home/docker/pihole/pihole/:/etc/pihole/" -v "/home/docker/pihole/pihole-script/:/etc/pihole-script/" -v "/home/docker/pihole/dnsmasq.d/:/etc/dnsmasq.d/"

[2019-09-15 19:18] paralovosca commented on #23
I installed speedtest-cli via homebrew on a couple of my other devices (mac) and I noticed I was getting what I should for upload speed.  I am wondering if my raspberry pi 4 is the limitation....not sure how to further investigate my raspberry pi?

[2019-09-15 19:29] arevindh commented on #23
If you have UI try running speedtest from browser.

[2019-09-15 19:43] paralovosca commented on #23
I vnc'd into pihole and ran ookla speedtest from a browser and received 9.13 mbps.  So I think raspberry pi is no the limitation and my firewall shouldn't be a problem since i can run speedtest-cli on other devices off same switch and subnet.

[2019-09-15 21:09] paralovosca commented on #23
I played around with a few switches for speedtest-cli.  Apparently the speedtest servers closest to me are the problem.  I ran a server list and grabbed a few servers further away then the closest three and they all report appropriate upload speeds.  Weird.  Now I think I remember that I can select a custom server in the gui....

[2019-09-15 21:13] #23 closed

[2019-09-15 21:14] paralovosca commented on #23
Speedtest-cli is not the issue.  Certain speedtest servers are the issue. Changing to a custom server fixed my original issue of what appeared to be a capped upload speed.

[2019-09-16 01:10] arevindh commented on #23
Use the test server id in settings page on pihole.

[2019-09-19 03:55] cronus130 opened #25 "Update to 4.3.2"
Please update to latest version.

[2019-09-19 04:14] arevindh commented on #25
Thank you for the update. Will be updating today.

[2019-09-19 04:19] arevindh commented on #25
Seems like no update for Web UI you can follow instructions [here](https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod)

[2019-09-20 02:33] arevindh commented on #25
Update complete.

[2019-09-20 02:33] #25 closed

[2019-09-23 01:47] Natizyskunk opened #26 "Pi-hole update admin-LTE to 4.3.2"
Please can you update your pi-hole admin repo with the last 4.3.2 official update please ? 🙂

# reference: https://github.com/arevindh/AdminLTE/issues/19

[2019-09-23 05:13] arevindh commented on #26
Sure, Thanks for the update.
Will do it today itself.

[2019-09-23 05:19] arevindh commented on #24
Since no activity in 10 days. Closing the issue.

[2019-09-23 05:19] #24 closed

[2019-09-23 20:26] arevindh commented on #26
Updated

[2019-09-23 20:26] #26 closed

[2019-09-23 23:21] Natizyskunk commented on #26
Thanks a lot !

[2019-09-24 19:47] nosaturn opened #27 "request - dump speedtest to csv locally or with gSYNC"
i have a script running speedtest and parsing it to a local .csv which is synced to my Google Drive. it would be nice to eliminate this redundancy. Could the speedtest.db file be dumped to .csv or something or even have the pi-hole interface let me specify a link to regularly export the file to?

[2019-09-25 05:28] arevindh commented on #27
Let me try.

[2019-09-29 15:15] sanderboom opened #29 "Speedtest on pihole representative?"
First of all: thanks for this piece of software.

More of a general issue, whether the results of speedtest on PiHole actually representative are for the speeds on the rest of the network.

On my laptop (connected wireless 5Ghz):
[code]

PiHole speedtest  (connected by CAT5 cable):
[code]

Could this be because of the low specs of the RPi (version 1)? In this way, the PiHole speedtest is not reall

[2019-09-29 18:36] arevindh commented on #29
Most probably.
Try downloading a file with wget or curl to confirm the speed.

[2019-09-30 11:47] roerigdalgaard opened #30 "Request: more flexible graph fx on db_graph.php page"
Hi
It would be great to run som more flexible reports on the speedtest stats.
fx following the rules on the db_graph.php page...

This would be a great stats reporting :-)

[2019-10-01 02:47] arevindh commented on #30
I didn't get you, can you explain a little more.

[2019-10-01 10:31] roerigdalgaard commented on #30
I can try :-)

By default you can only see the grafical presentation of the measurments on the admin startpage based og the general defined rules.

PiHole has the posibilyt at show grafics of longterm data. (/admin/db_graph.php)

It would be great if this page could show the speedtest graphs too (based on the choosen timeframes from the date/time pickers)

More clear?

[2019-10-01 18:10] sanderboom commented on #29
Speeds seem more or less the same using `wget`, but I'll get an newer version pi soon anyway and migrate.

[2019-10-25 14:40] dwilasnd opened #31 "ISSUE: Upload speed is not accurate"
I installed the code today.
Two speedtests initiated from the commandline.
http://www.speedtest.net/result/8704190754.png
https://www.speedtest.net/result/8704105248.png

Result from a webpage request
https://www.speedtest.net/result/8704129316

It looks like the upload is a couple of decimals off.

[2019-10-25 18:38] arevindh commented on #31
Try this command `speedtest-cli`

[2019-10-25 18:50] dwilasnd commented on #31
speedtest-cli
Retrieving speedtest.net configuration...
Testing from Verizon Business (205.197.219.150)...
Retrieving speedtest.net server list...
Selecting best server based on ping...
Hosted by Direct Communications - Cedar Valley (Eagle Mountain, UT) [16.12 km]: 8.028 ms
Testing download speed................................................................................
Download: 413.97 Mbit/

[2019-10-25 18:52] dwilasnd commented on #31
sudo pihole -a -sn

Testing Speed
2019-10-25 12:51:33 2019-10-25 12:51:57 Verizon Business 205.197.219.150 Brigham Young University (Provo, UT) 23.02 355.827 321.11 4.13 http://www.speedtest.net/result/8704844467.png

[2019-10-25 18:56] arevindh commented on #31
Try manually setting the server from the list
https://c.speedtest.net/speedtest-servers-static.php

[2019-10-25 18:57] dwilasnd commented on #31
The server is manually set to 4793 which is the 2nd speed test (pihole -a -sn). The first test didnt seem to pick that up.

[2019-10-25 18:58] dwilasnd commented on #31
speedtest-cli --server 4793
Retrieving speedtest.net configuration...
Testing from Verizon Business (205.197.219.150)...
Retrieving speedtest.net server list...
Retrieving information for the selected server...
Hosted by Brigham Young University (Provo, UT) [23.02 km]: 17.35 ms
Testing download speed................................................................................
Download: 338.20 M

[2019-10-25 19:03] arevindh commented on #31
try selecting another one

[2019-10-25 19:06] dwilasnd commented on #31
` speedtest-cli --server 2065
Retrieving speedtest.net configuration...
Testing from Verizon Business (205.197.219.150)...
Retrieving speedtest.net server list...
Retrieving information for the selected server...
Hosted by Utah Education Network (Salt Lake City, UT) [39.67 km]: 34.543 ms
Testing download speed................................................................................
Download

[2019-10-25 19:07] dwilasnd commented on #31
[code]

[2019-10-25 19:09] dwilasnd commented on #31
[code]

[2019-10-25 19:21] arevindh commented on #31
Seems there is some issue with your device or firewall.

[2019-10-25 19:52] dwilasnd commented on #31
From the actual webpage, it's 300+MBs

https://www.speedtest.net/result/8704563190

[2019-10-25 20:42] arevindh commented on #31
Are you running it on a pi?

[2019-11-11 07:47] #29 closed

[2019-11-25 01:43] karimnouh commented on #31
@dwilasnd Try testing with and without upload preallocation `--no-pre-allocate` . Also use server 12450 (The same server you used with the webpage test).

`speedtest-cli --server 12450 --no-pre-allocate`
`speedtest-cli --server 12450`

[2020-02-26 02:24] alecm858 opened #32 "Pi-hole update admin-LTE to 4.3.3"
Out of sync with Pi-hole admin-LTE master branch.

[2020-02-26 02:51] arevindh commented on #32
Updated

[2020-02-26 02:51] #32 closed

[2020-03-17 17:28] dwilasnd commented on #31
It's AWLAYS 4Mbit...

[code]

[2020-03-17 17:30] dwilasnd commented on #31
Ubuntu VM

[2020-04-07 14:30] raidoo9 opened #33 "Set specific time to run"
On schedule it gives you options, every 1 hour, every 2 hours etc.

Is there and option to set it to run at specific times, eg. 00:00 & 06:00

Thanks

[2020-04-07 18:14] arevindh commented on #33
Just edit the crontab and change to whatever you like.

[2020-04-08 10:38] raidoo9 commented on #33
Ok so in sudo crontab I have set

and ensure it is set to disable on the schedule settings page?

[2020-04-08 12:14] raidoo9 commented on #33
When I try to run speedtest.sh:

speedtest.sh: 59: speedtest.sh: [[: not found
speedtest.sh: 65: speedtest.sh: Syntax error: "(" unexpected

Thanks

[2020-04-09 01:34] flipptx opened #34 "will this work in pi-hole 5.0?"
wandering if this will work with the new 5.0

[2020-04-09 02:52] arevindh commented on #34
Will integrate speed-test once they release it.

[2020-04-09 02:56] arevindh commented on #33
sudo crontab -e

0 0,6 * * * sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest.sh"  > /dev/null 2>&1

[2020-04-09 03:19] flipptx commented on #34
thanks, just wasn't sure if it was working with the beta version yet.

[2020-04-09 12:41] raidoo9 commented on #33
Thanks, unfortunately still getting same errors as above. Happens as well I just just try to execute the script directly. Any idea what line 47, 59 and 65 in the .sh do or why I could be getting this error?

[2020-04-09 16:21] arevindh commented on #33
Are you still using `sh` ? try using `bash` .

[2020-04-10 12:59] raidoo9 commented on #33
Thanks!

[2020-04-10 12:59] #33 closed

[2020-05-03 09:51] BigBobDalton opened #35 "lighttpd error log"
The GUI throws an error at  $data = getSpeedTestData($dbSpeedtest,-1);
      if($data['errr'])

indicating that errr is not defined as an index

ideas?

[2020-05-03 15:02] arevindh commented on #35
Is it a warning or error?
Can u post the specific part of log.

[2020-05-03 15:11] BigBobDalton commented on #35
It shows up in my error.log file in directory /var/log/lighttpd/ every time I change view from graph to list

2020-04-29 21:51:45: (mod_fastcgi.c.2543) FastCGI-stderr: PHP Notice:  Undefined index: errr in /var/www/html/assets/php/data.php on line 124

[2020-05-03 15:16] BigBobDalton commented on #35
Removing the script
$data = getSpeedTestData($dbSpeedtest,-1);
      if($data['errr'])
        return [];
seems to correct the error being thrown, although I am uncertain if it causes some sort of different issue.  It doesn't seem to bother anything by removing it

[2020-05-03 16:51] arevindh commented on #35
Its just a notice don't worry . Since they have made massive changes on code for next version . Will fix it in next version along with the new changes.

Thanks for the donation .

[2020-05-10 20:20] mgarland1988 opened #36 "AdminLTE 5.0"
What is the process of upgrading from 4.x to 5.0 adminLTE? PiHole -up does not upgrade adminLTE. Would the steps be:
Uninstall speed test mod, upgrade adminLTE, then install speed test mod again?
Thanks

[2020-05-11 00:30] flipptx commented on #36
did you have any luck? I'm sat at the same right now.

[2020-05-11 04:08] josh3003 commented on #36
Yep you need to run the below commands it updated my web interface.

sudo rm /var/www/html/admin
sudo git clone https://github.com/pi-hole/AdminLTE.git /var/www/html/admin
pihole -r and select repair

I can't get the speedtest working at the moment I think it needs to be updated.

[2020-05-11 17:54] arevindh commented on #36
@flipptx @mgarland1988 @josh3003  : Updated to v5.0 .
I you don't mind, can you update and test it ?

[2020-05-11 17:57] arevindh commented on #35
@BigBobDalton Updated to version 5.0 , can you test and confirm whether the message is still there?

[2020-05-11 17:57] arevindh commented on #34
@flipptx Updated to v5.0

[2020-05-11 17:58] BigBobDalton commented on #35
Sorry, I’ve discontinued usage of pihole with version 5 and am using AdGuardHome instead.  Apologies.

Von: itsmesid <notifications@github.com>
Antworten an: arevindh/pihole-speedtest <reply@reply.github.com>
Datum: Montag, 11. Mai 2020 um 19:57
An: arevindh/pihole-speedtest <pihole-speedtest@noreply.github.com>
Cc: BigBobDalton <bob@dalton.li>, Mention <mention@noreply.github.com>
Betreff: Re: [a

[2020-05-11 17:59] #35 closed

[2020-05-11 17:59] arevindh commented on #31
Please post your question on the  `speedtest-cli` Github repo
https://github.com/sivel/speedtest-cli

[2020-05-11 17:59] #31 closed

[2020-05-11 18:10] flipptx commented on #36
bash: line 2: whiptail: command not found
bash: line 4: whiptail: command not found

[2020-05-11 18:17] flipptx commented on #36
i don't see the speediest mod after the update just regular pi-hole screen, and the screen now shows this... "Pi-hole Version v5.0 Web Interface Version v4.3.3 (Update available!) FTL Version v5.0" any thoughts? do i need to reinstall the MOD vs just update?

[2020-05-11 21:49] ChrisWNY commented on #36
I used the update command and PiHole is still reading v4.3.3 for the Web Interface version. From the CLI, this is how it's reported (when using the speedtest AdminLTE):

  Pi-hole version is v5.0 (Latest: v5.0)
  AdminLTE version is v4.3.3-508-g25a0f385 (Latest: v5.0)
  FTL version is v5.0 (Latest: v5.0)

The UI does look like version 5.0 and the left-hand menu is now correct (the once-and-done up

[2020-05-11 21:58] ChrisWNY opened #37 "pi-hole Web UI still showing 4.3.3 instead of 5.0"
Version info is out-of-whack in pi-hole after updating pi-hole to 5.0, then running the speedtest mod update post 5.0 update.

I did the following after updating pi-hole to 5.0 to incorporate the speedtest mod back into pi-hole 5.0:

---------------------------------------------

cd /var/www/html/
mv admin org_admin # remove old org_admin folder if exists
git clone https://github.com/arevindh/Admi

[2020-05-11 22:07] josh3003 commented on #36
@arevindh
Hey, I ran the steps again and I have the speedtest mod working on AdminLTE 5.0

Thanks for pushing an update so quickly.

[2020-05-11 22:09] flipptx commented on #36
so i may be little different i didn't have it working on 4.3, i installed v5 and followed the install steps and updated. doesn't seem to have added anything to pi-hole any thought if this could be the problem and if so how to get it up?

[2020-05-11 22:14] josh3003 commented on #36
Oh yeah it does show web interface is 4.3.3 that's probably just cosmetic as it does show it is up to date in commandline. Probably just another quick update to fix it

[2020-05-12 05:47] arevindh commented on #36
Try `pihole updatechecker local` , it might fix the issue

[2020-05-12 05:47] arevindh commented on #36
@josh3003 : Will try once my office time is over.

[2020-05-12 05:58] arevindh commented on #37
Try this

[2020-05-12 07:27] mgarland1988 commented on #36
@arevindh This looks brilliant! :)
Thank you everyone with your help and support
I am yet to update, so I can test from AdminLTE version 4.3.3. Please let me know what steps do you want me to carry out, and I can test the process.

Thank you all

[2020-05-12 08:32] arevindh commented on #36
@mgarland1988  : I think second one is better , what do you think  ?

**You can use manual instructions **
https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod#manual-instructions

[2020-05-12 09:49] mgarland1988 commented on #36
@arevindh Thank you so much for all your support - this works perfectly :)

I will close this case - really appreciate all your hard work

I agree, the second graphic is better! 👍

[2020-05-12 12:04] ChrisWNY commented on #37
That took care of the version discrepancy. Thanks! Issue resolved.

[2020-05-12 12:44] #37 closed

[2020-05-12 13:23] arevindh commented on #36
Please pull `admin` once more i have updated line chart to bar chart

[2020-05-12 13:23] #36 closed

[2020-05-12 20:15] PJGitHub9 commented on #37
Im having the same issue, i cant seem to update. I ran that command and it didnt work :(

[2020-05-13 10:12] Poisoned commented on #34
@arevindh I don't see any code changes, only that you changed the changelog. Say everything works out of the box with Pi-hole v5.0?

[2020-05-13 13:23] arevindh commented on #34
@Poisoned This is not the real repo with codes. Check here : https://github.com/arevindh/AdminLTE

[2020-05-13 13:24] #34 closed

[2020-05-14 14:34] flipptx commented on #37
sudo su
cd /var/www/html/admin
git pull
pihole updatechecker local
exit

fixed it thanks

[2020-05-16 11:29] rross101 commented on #31
Just for completeness; I had this issue, it's because the version of speediest-cli installed by standard raspbian is broken; if you install the newest version from the link above it solves the problem. I thought it was worth posting this here as it took me forever to discern what the problem was.

[2020-05-19 22:34] georgeoommen opened #38 "Speedtest results inaccurate"
Followed the instructions to install and update the Speedtest mod for pi-hole, however the results I'm getting are very very inaccurate.

[2020-05-20 02:55] arevindh commented on #38
Try running `speedtest-cli` from console .

[2020-05-20 23:37] flipptx commented on #38
why are they so inaccurate? (don't forget the limits of the R-Pi Lan)

[2020-05-21 05:06] arevindh commented on #38
This Project is based on speedtest-cli. The text below is from their repository [readme](https://github.com/sivel/speedtest-cli#inconsistency) file.

   Speedtest.net and even other machines on the same network

[2020-05-21 08:22] georgeoommen commented on #38
Am running it on R-Pi. It’s lan limitation must be the issue. Will test on another machine and report back of issue continues.

[2020-05-21 12:27] arevindh commented on #38
Please refer https://github.com/sivel/speedtest-cli

[2020-05-21 12:27] #38 closed

[2020-05-24 07:28] P8Kcv6n opened #39 "Retry failed aborting"
This is on a Google Cloud Compute Engine VM on Ubuntu 18.04.4 LTS. The issue occurred when I had pihole v4 and still occurs after upgrading to v5.

`speedtest-cli` runs fine, returning:
[code]
`sudo pihole -a -sn` however, returns this:
[code]

The log shows this:
[code]

[2020-05-28 12:20] andrewrmoore opened #40 "Option to use official Speedtest CLI client"
First off, thank you for the great work on this!

Ookla have now released an official [Speedtest CLI]( https://www.speedtest.net/apps/cli) client written in C++, with official support for macOS, Ubuntu/Debian, Fedora/CentOS/Red Hat and FreeBSD.

Blog post [here](https://www.speedtest.net/insights/blog/introducing-speedtest-cli/).

From my testing it is much more performant than the Python based [s

[2020-05-28 12:45] arevindh commented on #40
It's good to see they are providing such functionality now.
Let me try to integrate it, not sure how successful it will be. Will update you once I try it.

[2020-05-31 16:37] arevindh commented on #40
@andrewrmoore . Seems like it might me easier to integrate than existing python variant, but need more changes in code. I am working on it when I have free time, should take a week or two.

[2020-06-03 06:08] arevindh commented on #40
@andrewrmoore Made a working version with official speedtest-cli, can you try it out before its released ?

[2020-06-03 13:50] andrewrmoore commented on #40
@erevindh Amazing, thank you. I'm more than happy to test it out.

[2020-06-03 14:44] arevindh commented on #40
[code]
`git remote -v `

### Make sure that remote is
`origin  https://github.com/arevindh/AdminLTE (fetch)`
`origin  https://github.com/arevindh/AdminLTE (push)`
[code]
Go to Pihole settings and set Official CLI as speed-test mode.

[2020-06-03 15:58] andrewrmoore commented on #40
I have followed your instructions and have a few pieces of feedback. All-in-all, amazing! The results are now accurate for the mostpart.

### Issue 1:

[code]

**Resolution:** Install jq, I'm on CentOS so `sudo yum install jq -y`, the package was provided from the EPEL repo. Please be sure that this is noted as a dependency when pushed to master.

### Issue 2:

[code]

**Resolution:** Run `sudo sp

[2020-06-03 16:13] arevindh commented on #40
@andrewrmoore.
1. Added to documentation `sudo apt install jq -y`
2. Added `--accept-gdpr` along with  `--accept-license`
3. Seems there is no distance parameter in the output json .
4. Working on the Byte issue fix

[2020-06-03 18:35] andrewrmoore commented on #40
The script now matches the unit (Mb/s) of Speedtest CLI.

Thanks so much @arevindh!

[2020-06-04 01:32] arevindh commented on #40
@andrewrmoore Thanks a lot.

[2020-06-04 01:32] #40 closed

[2020-06-05 03:20] PJGitHub9 opened #41 "Speedtest showing much slower speed than actual one"
My pihole is showing downloads of ~ 30mbps-70mbps. My download is 100mbps, even when i run the speedtest via my pc it shows 90+mbps. Any ideas?

(Pi is connected via ethernet and is running dietpi)

[2020-06-05 03:28] arevindh commented on #41
Which testing mode are you using?
Try updating and changing testing mode to official speedtest cli.
https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod

[2020-06-05 03:50] arevindh commented on #39
Can you update speedtest mod and retry?

[2020-06-05 04:57] P8Kcv6n commented on #39
Updated. Now `speedtest` runs fine, but `sudo pihole -a -sn` still terminates on the same line.

[2020-06-05 06:16] arevindh commented on #39
`sudo pihole -a -sn` uses old method (Python). Will fix it in next release.

[2020-06-05 07:56] P8Kcv6n commented on #39
I don't see the drop down menu.

[image](https://user-images.githubusercontent.com/21136719/83851444-5e1c0080-a6e0-11ea-9e57-4a8918b10468.png)

[2020-06-05 08:42] arevindh commented on #39
@P8Kcv6n . follow these [Instruction](https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod) .

[2020-06-05 09:13] P8Kcv6n commented on #39
Yeah I installed speedtest-cli and tried the one-click update, didn't work. Also tried manually updating, reinstalling the mod, and rebooting.

[2020-06-05 09:47] arevindh commented on #39
Tried clear cache on browser ?
Hope you have install Speedtest CLI  https://www.speedtest.net/apps/cli

[2020-06-05 10:32] P8Kcv6n commented on #39
Yes, that's the Speedtest CLI that I installed. I've tried deleting the website data for pi.hole in Chrome and Safari.

The output of that command is:
[code]

[2020-06-05 12:10] arevindh commented on #39
Seems codebase is not updated. Please run and post output
`sudo su`
`cd /var/www/html/admin`
`git remote -v`
`git status`
`git pull`

[2020-06-05 14:40] PJGitHub9 commented on #41
so I followed this tutorial
https://pimylifeup.com/raspberry-pi-internet-speed-monitor/

then i used your one line update command to update the speedtest, its still running very slow.

[2020-06-05 14:49] arevindh commented on #41
Install this https://www.speedtest.net/apps/cli
then
https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod
then go to settings speedtest and change Test Mode to `official speedtest cli`

[2020-06-05 14:59] PJGitHub9 commented on #41
Where do i find that setting? its not in the pihole interface

[2020-06-05 15:02] PJGitHub9 commented on #41
where do i find the setting for the test mode?

[2020-06-05 15:16] #41 closed

[2020-06-08 01:55] P8Kcv6n commented on #39
As I mentioned in the edit in my last comment, the file updated on my last attempt.

But now I've noticed that the speed test runs hourly even when disabled. Should I post a separate issue? I tried selecting the python method to stop it, but it seems to work now too!

[2020-06-08 03:36] arevindh commented on #39
@P8Kcv6n Seems I missed that one when implementing official speedtest. Fixed now .
[code]

[2020-06-08 08:19] P8Kcv6n commented on #39
That didn't stop them, tried both disabling in the web ui and in the shell with `pihole -a -s 0`

[2020-06-09 09:23] arevindh commented on #39
@P8Kcv6n can you try same steps now ?

[2020-06-17 19:04] PJGitHub9 opened #42 "Both official client and python client show slow speeds"
For some reason i cant get proper speeds on my pihole. Ive tried restarting, changing from official to python and the speeds have been consistently very slow (I have 100mbps download). Not sure why they are like this.

[Picture](https://i.imgur.com/hsqxt1B.png)

[2020-06-18 02:16] arevindh commented on #42
Which device are you running it on?

[2020-06-18 02:16] PJGitHub9 commented on #42
Raspberry Pi 3B, running dietpi

[2020-06-18 02:19] arevindh commented on #42
Try running a simple download via wget or curl and check the speeds.

[2020-06-18 02:25] PJGitHub9 commented on #42
Im not too sure how to do that at all sorry, any commands I can copy via ssh?

[2020-06-18 02:28] arevindh commented on #42
Which location is nearby you ?

![image](https://user-images.githubusercontent.com/693151/84971025-760c6f00-b139-11ea-8ff8-722e5f7c8c26.png)

[2020-06-18 02:29] PJGitHub9 commented on #42
TOR1, I ran the code:
wget -O /dev/null http://speedtest-tor1.digitalocean.com/100mb.test

Speed is showing 500-800KB/s

[2020-06-18 02:39] arevindh commented on #42
Download the same file using PC or MAC

[2020-06-18 02:42] PJGitHub9 commented on #42
My desktop shows 80-90Mbps

[2020-06-18 02:48] arevindh commented on #42
If `wget` is showing lower speeds it might be due to some configurations on firewall .

[2020-06-18 02:49] PJGitHub9 commented on #42
The pi's firewall? Dietpi doesnt come preinstalled with any, im not sure what settings to check on the pi either

[2020-06-18 02:51] arevindh commented on #42
No, do you have one on your network ?

[2020-06-18 02:52] PJGitHub9 commented on #42
No, i have another pi running the exact same setup (just no speedtest) and that one runs the Wget command at 8MB/s

[2020-06-18 02:58] arevindh commented on #42
Is it running same diet pi ?
**Speed test does not modify your system wget speed**

[2020-06-18 03:00] PJGitHub9 commented on #42
yeah, i uninstalled the speedtest (using your uninstall file commands) and now running the wget command bumps me up to 8MB/s (~ 64mpbs, still much slower than my actual speed)

[2020-06-18 03:07] arevindh commented on #42
That's weird it shouldn't affect speeds.  There might be other reasons.About 8 Mb/s, Pi might have write speed limits.

[2020-06-18 03:10] arevindh commented on #42
You might still have official speed test, try running `speedtest` from terminal.

[2020-06-18 03:11] PJGitHub9 commented on #42
54Mbit/s down and 10Mbit/s upload. Download is still like 50% of my actual, upload is exactly the right speed

[2020-06-18 03:17] arevindh commented on #42
Which server is used for the test in pc and pi?
I am running it on a Pi 2B+ getting upto 89 on my 125 Mbps connection.

[2020-06-18 03:18] PJGitHub9 commented on #42
Instead of going through all this struggle, i might just wipe the pi and install raspbian OS instead, it may be the OS thats causing the issue. Ill try that tomorrow and will update the post :)

[2020-06-23 17:06] brycedjohnson opened #43 "Show failed speedtests as 0?"
Might be nice to show failed speedtests as dl/up 0 in the graph?  Had an internet outage today from for 11 hrs and looked back to see when the last successful test was run to see when it started and ended and if it was was working at all in between.

Thanks for the great work!  Very useful!

[2020-06-24 00:50] arevindh commented on #43
@brycedjohnson Let me try.

[2020-06-27 22:24] P8Kcv6n commented on #39
Sorry for the late reply, but that worked--it disables now. Everything seems to be working well, including with my local pihole machine.

[2020-06-28 16:39] #39 closed

[2020-06-29 05:29] nnleaf opened #44 "Not able to disable the speedtest"
Hi, I'm on Pihole 5.0 and I can't set the Speedtest Schedule to disabled. The speedtests are causing spikes in network graphs I'm monitoring on grafana so I wanted to turn them off. I don't want to remove the package as it's useful when diganostics.

Thanks.

[2020-06-29 06:21] arevindh commented on #44
@P8Kcv6n can you try same steps now ?

_Originally posted by @arevindh in https://github.com/arevindh/pihole-speedtest/issues/39#issuecomment-641153976_

[2020-06-29 07:03] nnleaf commented on #44
Updating it did the trick, thanks!

[2020-06-29 07:03] #44 closed

[2020-06-30 10:59] Jurgenn22 opened #45 "No Graphs"
Hi,
I don't get graphs in the Pihole dashboard page. Instruction manual followed. What am I doing wrong?

[2020-06-30 11:40] arevindh commented on #45
Hi @Jurgenn22,
Can you post screenshots and browser console log ?

[2020-06-30 11:45] Jurgenn22 commented on #45
@arevindh, Thanks for your fast response. What screenshots do you need? From the dashboard? What do you mean by browser console log?

[2020-06-30 11:50] arevindh commented on #45
### Console log
https://support.airtable.com/hc/en-us/articles/232313848-How-to-open-the-developer-console

### Screenshot the front page
### Check whether this page displays anything
Login to pihole before opening this url
 http://pi.hole/admin/api.php?getSpeedData24hrs&PHP

[2020-06-30 11:55] Jurgenn22 commented on #45
@arevindh Thx.
<img width="1392" alt="Schermafbeelding 2020-06-30 om 13 53 55" src="https://user-images.githubusercontent.com/50082445/86123092-3189b780-bad9-11ea-9c55-618fc23a15b8.png">
<img width="1392" alt="Schermafbeelding 2020-06-30 om 13 54 46" src="https://user-images.githubusercontent.com/50082445/86123147-4cf4c280-bad9-11ea-8264-f061c0c5f15a.png">

[2020-06-30 12:02] Jurgenn22 commented on #45
@arevindh
<img width="1280" alt="Schermafbeelding 2020-06-30 om 14 01 47" src="https://user-images.githubusercontent.com/50082445/86123736-49ae0680-bada-11ea-893b-9b244017eb34.png">

[2020-06-30 12:13] arevindh commented on #45
Have you configured regular speedtest in settings page ?
![image](https://user-images.githubusercontent.com/693151/86124720-33637300-baf9-11ea-977d-d89cb6259557.png)

[2020-06-30 12:16] Jurgenn22 commented on #45
@arevindh
Yess that's it. How stupid of me. Thank you!

[2020-06-30 12:19] arevindh commented on #45
Welcome :)

[2020-06-30 12:19] #45 closed

[2020-07-16 13:46] flipptx opened #46 "5.1 Update"
FYI, after update it shows interface is out of date, and dark mode doesn't work.

Pi-hole Version v5.1.1 Web Interface Version v5.0.1 (Update available!) FTL Version v5.1

[2020-07-17 02:20] ChrisWNY commented on #46
Seeing the same issue...looks like the pihole-speedtest web UI hasn't updated to 5.1 quite yet.

[2020-07-17 03:22] arevindh commented on #46
@ChrisWNY @flipptx working on that .

[2020-07-20 12:36] ChrisWNY commented on #46
Newest update worked - had to run the following commands:

_cd /var/www/html/
mv admin org_admin # remove old org_admin folder if exists
git clone https://github.com/arevindh/AdminLTE admin

sudo pihole updatechecker local_

Web UI reports version 5.1 as expected.

  _Pi-hole version is v5.1.1 (Latest: v5.1.1)
  AdminLTE version is v5.1 (Latest: v5.1)
  FTL version is v5.1 (Latest: v5.1)_

[2020-07-20 13:13] ChrisWNY opened #47 "5.1 Update - unable to change to Dark theme from Settings"
After updating to the 5.1 Admin UI for pihole-speedtest, pihole > settings > API/Web Interface > Interface Appearance -- changing to "Dark theme" does set the Dark theme within that page, but the setting/variable for the theme is not saved beyond that. Navigating back to the Dashboard loads the light theme, and going back to the API/Web Interface setting also shows that the UI reverts to the light

[2020-07-20 13:15] arevindh commented on #47
Try   : https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod

[2020-07-20 13:16] ChrisWNY commented on #47
Manual or one-click update?

curl -sSL https://github.com/arevindh/pihole-speedtest/raw/master/update.sh | bash

[2020-07-20 13:18] arevindh commented on #47
try manual

[2020-07-20 13:26] arevindh commented on #46
Seems you missed few steps  Use the manual method https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod

[2020-07-20 13:35] ChrisWNY commented on #47
Manual update worked.

Thanks for the quick follow-up. Bought you a few coffees for your work.

- Chris

[2020-07-20 13:45] arevindh commented on #47
@ChrisWNY Thanks a lot.

[2020-07-20 13:48] #46 closed

[2020-07-21 05:40] #47 closed

[2020-07-25 16:13] arevindh commented on #43
@brycedjohnson : Feature is now added in the `dev` branch , wil you be able to test before it goes live ?

[2020-07-25 17:45] brycedjohnson commented on #43
Sure thing!  Thanks!

On Sat, Jul 25, 2020, 10:13 AM itsmesid <notifications@github.com> wrote:

[2020-07-25 18:11] gooch4130 opened #48 "Issue - Schedule Not Working"
Not sure if this is the right spot, but the scheduler does not seem to work.  I see the entry in crontab but it has not posted a run since configuring yesterday.  I currently have the schedule set to hourly to see if that helps.  Manual runs are fine and show in pihole.  Let me know what data you need.

0 */1 * * * sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"  > /dev/

[2020-07-25 22:47] gooch4130 commented on #48
I changed the Speedtest Mode to python, will see if that makes a difference since it triggers a different script.

[2020-07-26 04:22] arevindh commented on #48
@gooch4130 : Have you installed https://www.speedtest.net/apps/cli ?

[2020-07-26 06:43] arevindh commented on #43
[code]
Now go to settings set an invalid speedtest id

Test by running `sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"`

[2020-07-26 12:04] gooch4130 commented on #48
@arevindh - I had not installed the CLI.  I only followed the install instructions [here](https://github.com/arevindh/pihole-speedtest/wiki/Installing-Speedtest-Mod).  I'll install the CLI - that should do it.  Thank you for getting back to me!

[2020-07-26 16:47] gooch4130 commented on #48
@arevindh that fixed it; my apologies for not digging more.  Closing this out.

[2020-07-26 16:47] #48 closed

[2020-07-26 17:46] #42 closed

[2020-07-28 04:08] karimnouh commented on #43
@arevindh Tested and confirmed to work. Thanks for making it happen.
![image](https://user-images.githubusercontent.com/25754437/88618059-c68eba80-d05d-11ea-986f-dcfe271db401.png)
![image](https://user-images.githubusercontent.com/25754437/88617986-921afe80-d05d-11ea-8299-93cfd569e275.png)

[2020-07-28 15:39] brycedjohnson commented on #43
I'm getting a error when I run the script
`
root@raspberrypi:/var/www/html/admin# /var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh
Testing with 10051
usage: speedtest [-h] [--no-download] [--no-upload] [--bytes] [--share]
                 [--simple] [--csv] [--csv-delimiter CSV_DELIMITER]
                 [--csv-header] [--json] [--list] [--server SERVER]
                 [--exc

[2020-07-28 15:54] arevindh commented on #43
@brycedjohnson can you update and try

https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod

[2020-07-28 16:30] karimnouh commented on #43
@brycedjohnson You probably currently have [speedtest-cli by sivel](https://github.com/sivel/speedtest-cli) aka Python version in the web GUI. Meanwhile, speedtest-official.sh uses 'Speedtest CLI' from Ookla https://www.speedtest.net/apps/cli.

[2020-07-28 16:34] brycedjohnson commented on #43
@arevindh I did the update and still getting that syntax error.

@karimnouh That sh script runs the official speedtest directly.  I can run speedtest.sh script which runs the python script and that one works to get the speedtest, although I didn't get the no internet in the database when trying it with a different invalid server, or disconnected my pi from the internet during the test.

[2020-07-28 16:52] brycedjohnson commented on #43
@karimnouh Oops yes you were right.  I had the Speedtest official installed at one point and it was working, but must have reverted back to the python script at some point.

Also glossed over the first step somehow just now when reinstalling. Doh.  `Install Speedtest CLI (Important)`

@arevindh Tested it and it works now!  Sorry about the confusion!

[2020-07-29 02:13] #43 closed

[2020-07-29 02:14] arevindh commented on #43
Thanks for testing.

[2020-07-29 02:15] arevindh commented on #43
@brycedjohnson @karimnouh: Line char or bar chart is better?  ( Changed from bar to line chart along with this change).

[2020-07-29 02:25] brycedjohnson commented on #43
Line chart for sure!  I saw that and liked it better.

On Tue, Jul 28, 2020, 8:15 PM itsmesid <notifications@github.com> wrote:

[2020-07-29 03:52] karimnouh commented on #43
Agreed the line chart works way better for a time series.

[2020-07-30 19:20] slimyPhlegma opened #49 "Graphs not showing properly"
Hi,

I just installed the speedtest you've implemented for pihole. It's working, saving and showing speedtests properly, but if I visit pi.hole/admin at the first place the "Total queries", "Client activity", "Query Types" and "Queries answered by" graphs aren't showing up to the point I hover over them with the mouse. The following picture was taken right after refreshing the pi.hole/admin page:

[2020-07-31 13:54] arevindh commented on #49
Can you check console for any errors ?

[2020-08-01 21:27] karimnouh opened #50 "update.sh is using an outdated fork"
Hi arevindh, the One-click Update is using a fork that is on v5.0

https://github.com/arevindh/pihole-speedtest/blob/a16be49aa63cdc2da9657a600f027ea29e8f5afe/update.sh#L38-L48

[2020-08-02 02:28] arevindh commented on #50
Fixed. Thank you.

[2020-08-02 03:18] #50 closed

[2020-08-03 18:16] slimyPhlegma commented on #49
Which logs am I looking for exactly. In the syslog and pihole.log files I can't find any errors.

[2020-08-03 18:18] slimyPhlegma commented on #49
I also noticed, that the speedtests aren't run automatically each hour. Instead, I execute them via cron for now.

[2020-08-06 03:53] josh3003 commented on #49
Yeah I also had this problem with the graphs not showing. I uninstalled the mod and reverted back to default pihole settings.

[2020-08-06 03:57] arevindh commented on #49
@josh3003 can you check any errors on browser developer console

[2020-08-06 03:57] josh3003 commented on #49
@arevindh  you'll have to give me 5 mins to reinstall it again. Hold on

[2020-08-06 03:58] arevindh commented on #49
@josh3003 Please clear cache too after installing

[2020-08-06 04:07] josh3003 commented on #49
@arevindh done the install, ran in icognito mode. Set speedtest schedule and Display range Tick Flush speedtest history (for the first time only) Set speedtest mode to Official CLI.

GO to run the final command:
`sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh" `

get the following result
[code]

[2020-08-06 04:19] arevindh commented on #49
@josh3003 : have you installed this ?
https://www.speedtest.net/apps/cli

[2020-08-06 04:22] josh3003 commented on #49
@arevindh followed the install instructions and still same result.

[2020-08-06 04:27] josh3003 commented on #49
@arevindh  tried the one click upgrade
 `sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"`

Still no luck there either.

[2020-08-06 04:27] arevindh commented on #49
@josh3003 : `sudo apt-get remove speedtest-cli`

[2020-08-06 04:34] josh3003 commented on #49
@arevindh That fixed it. Thanks.

[2020-08-06 04:37] josh3003 commented on #49
@arevindh The graphs also look fine as well. Sounds like my old install was a bit borked. Will monitor and update if there's any issue.

[2020-08-06 04:39] arevindh commented on #49
@slimyPhlegma Can you also try the above method ?

[2020-08-06 08:45] josh3003 commented on #49
@arevindh Hey, bad news. So when you go to the login page I think it displays an empty default speedtest graph? Then when you mouse over the graph it switches back to the query graph. Same happens when you sign in. Same issue as before. Not related to the old python speedtest as I thought. [Check here ](https://imgur.com/a/gCFYwZq)

[2020-08-06 08:53] arevindh commented on #49
Can you check browser console for errors

[2020-08-06 08:57] josh3003 commented on #49
@arevindh what am I looking for? I got no idea what to look out for in the dev console.

[2020-08-06 09:03] arevindh commented on #49
@josh3003 : https://javascript.info/devtools

[2020-08-06 09:05] josh3003 commented on #49
@arevindh https://pastebin.com/8LHAAdBh

[2020-08-06 09:10] arevindh commented on #49
Can you check the network tab too ?  Open the tab and reload the page .. Check for any urls with red color.
![image](https://user-images.githubusercontent.com/693151/89513720-8adcb900-d7f2-11ea-85ba-0447b7383a16.png)

[2020-08-06 09:11] arevindh commented on #49
If you are have discord, we can troubleshot live
https://discord.gg/anKMZq

[2020-08-11 02:41] ChrisWNY opened #51 "Update AdminLTE to 5.1.1"
You're probably working on it, but there's an update for AdminLTE - 5.1.1...

https://github.com/pi-hole/AdminLTE/releases/tag/v5.1.1

Thanks!

[2020-08-12 22:37] gooch4130 commented on #51
@arevindh same issue on the updated AdminLTE.

[2020-08-12 23:53] gooch4130 opened #52 "Speedtest Graph Now A Line Graph Rather Than A Bar Graph"
I updated pihole today and Speedtest to the July 29th update, and noticed the speedtest graph (previously a bar graph), is now a line graph.  Is this expected?  Not sure which update would have changed it.

![image](https://user-images.githubusercontent.com/57266412/90079276-7195aa00-dcd5-11ea-9be8-d345893f7c89.png)

pi@pihole:~ $ pihole -v
  Pi-hole version is v5.1.2 (Latest: v5.1.2)
  AdminLTE v

[2020-08-13 04:19] karimnouh commented on #52
Yes, its intended, The change was indeed part of the the July 29th update. [#43](https://github.com/arevindh/pihole-speedtest/issues/43#issuecomment-665390354)

[2020-08-13 10:12] #49 closed

[2020-08-13 10:13] arevindh commented on #52
@gooch4130 It is intended.

[2020-08-13 10:16] arevindh commented on #51
@ChrisWNY @gooch4130 Working on it.

[2020-08-13 12:30] arevindh commented on #51
Updated. Please let me know if any problems occur.

[2020-08-13 12:36] gooch4130 commented on #51
That did the trick; thank you for the quick turn around!

[2020-08-13 12:41] arevindh commented on #52
Closing this

[2020-08-13 12:58] biplobsd commented on #11
I getting [] this. and no graph on dashboard. Also did https://github.com/arevindh/pihole-speedtest/issues/11#issuecomment-453200125

[2020-08-13 13:18] arevindh commented on #11
@biplobsd https://github.com/arevindh/pihole-speedtest/issues/48#issuecomment-663933976

[2020-08-13 13:40] ChrisWNY commented on #51
Thanks - script worked like a champ. Version info is correct and everything looks good!

[2020-08-13 13:47] biplobsd commented on #11
Testing with
2020-08-13 19:45:36     2020-08-13 19:45:53     BD Networks     103.231.228.6   Cosmopolitan Communications Limited    03.619   92.233  92.4352 https://www.speedtest.net/result/c/84c1fec1-8912-400a-9067-79139078c8e1

[2020-08-13 13:48] biplobsd commented on #11
Still same

[2020-08-13 13:52] biplobsd commented on #11
![image](https://user-images.githubusercontent.com/43641536/90142664-76726080-dd9e-11ea-99f0-d2fe91f50f57.png)

[2020-08-13 13:53] arevindh commented on #11
And the output?

[2020-08-13 13:55] biplobsd commented on #11
pi@raspberrypi:~ $ sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"
Testing with
2020-08-13 19:54:51     2020-08-13 19:55:06     BD Networks     103.231.228.6   Cosmopolitan Communications Limited    03.243   92.9259 90.5763 https://www.speedtest.net/result/c/7845cb01-c97d-4824-a4f7-1a731b564e5c
pi@raspberrypi:~ $

[2020-08-13 13:57] arevindh commented on #11
Can you now check the output of http://pi.hole/admin/api.php?getSpeedData24hrs&PHP

[2020-08-13 14:37] biplobsd commented on #11
[]

[2020-08-13 15:02] #52 closed

[2020-08-13 15:15] arevindh commented on #11
Can you post the output of `ls -alh /etc/pihole/`

[2020-08-13 15:17] biplobsd commented on #11
pi@raspberrypi:/opt/pihole $ ls -alh /etc/pihole/
total 84M
drwxrwxr-x   3 pihole pihole 4.0K Aug 13 21:17 .
drwxr-xr-x 120 root   root    12K Aug 13 20:52 ..
-rw-r--r--   1 root   root    118 Aug 10 19:32 adlists.list
-rw-r--r--   1 root   root    118 Aug  8 19:02 adlists.list.old
-rw-r--r--   1 root   root     23 Aug 10 22:04 custom.list
-rw-r--r--   1 pihole pihole  924 Aug 13 20:41 dhcp.leases

[2020-08-13 15:23] arevindh commented on #11
Can check if there is anything saved in the DB ?

Use the below code to check, post output [ you may need to delete those IP
address before pasting]
[code]

[2020-08-13 15:36] biplobsd commented on #11
pi@raspberrypi:/etc/pihole $ sqlite3 speedtest.db
SQLite version 3.27.2 2019-02-25 16:06:06
Enter ".help" for usage hints.
sqlite> select * from speedtest limit 2;
1|2020-08-13 21:12:31|2020-08-13 21:13:57|BD Networks|103.231.231.90|MetroNet Bangladesh Ltd (Dhaka)|0.85|90.089|4.83|4.39|http://www.speedtest.net/result/9908005861.png
2|2020-08-13 10:22:50|2020-08-13 10:23:11|BD Networks|103.231.228.

[2020-08-13 15:37] biplobsd commented on #11
My time zone is  `Asia/Dhaka (+06, +0600)`
Is there any problem with this?

[2020-08-13 15:40] arevindh commented on #11
yes there might be

[2020-08-13 15:47] biplobsd commented on #11
![image](https://user-images.githubusercontent.com/43641536/90156650-842fe200-ddae-11ea-91e4-db6f2db20359.png)

pi@raspberrypi:/etc/pihole $ sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"
Testing with
2020-08-13 11:44:50     2020-08-13 11:45:06     BD Networks     103.231.228.6   Bangla Trac Communications Ltd. 0      2.502    93.2074 94.1453 https://www.speedtest.net/r

[2020-08-13 15:48] biplobsd commented on #11
Working...!!!! But my time zone is not correct!

[2020-08-13 16:46] biplobsd commented on #11
I added line `date_default_timezone_set('Asia/Dhaka');` in /var/www/html/admin/api_speedtest.php

Now is seems like all ok!.,😊😁

[2020-08-31 03:19] 91ajames opened #53 "Docker-Compose script?"
Is there a way to inject this through automation when we set-up Pi-Hole in the yml file in a Docker Container?

I would try accessing the _**"docker exec -it (mycontainer) bash"**_ from script-a to run a cmd or make a script-b afterwords but it stalls, disconnecting from script-a once accessing docker exec line waiting for input by hand.

Even tried something like _**"docker exec -it (mycontainer)

[2020-09-04 00:30] 91ajames commented on #53
pfft, im an idiot. figured it out.
**docker exec -it (pihole-container) bash (_location in the container path_ from outside the container).sh**

Predefine Volume: /docker/pihole:/etc/pihole

add a bash file in /docker/pihole

docker exec -it pihole bash /etc/pihole/speedtest.sh

In case any wonders out there for pre auto configuring hands free.

[2020-09-04 00:30] #53 closed

[2020-09-11 22:48] flipptx opened #54 "CLI"
switched over to CLI but have problems
when i run...
sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"

i get the following..
Testing with
usage: speedtest [-h] [--bytes] [--share] [--simple] [--csv]
                 [--csv-delimiter CSV_DELIMITER] [--csv-header] [--json]
                 [--list] [--server SERVER] [--mini MINI] [--source SOURCE]
                 [--timeou

[2020-09-11 22:57] flipptx commented on #54
side note any chance of a "run now" button from the web interface?

[2020-09-12 02:22] arevindh commented on #54
@flipptx Try uninstalling python version.
Will try add `run now` button with next update

[2020-09-15 00:47] 91ajames commented on #54
Having a similar issue with the cmd CLI does not exits. I have everything good on my end except, the cmd speedtest-cli line is not found, Something about no such file exist under /usr/bin/pihole which I have never noticed before, I'm even testing it via vmware thats not in docker settings.

speedtest.sh
-line 214 speedtest-cli: command not found
-line 231 speedtest-cli: command not found
-Connecti

[2020-09-15 00:58] P4RI4H commented on #54
@arevindh
Having the same issue as @flipptx.
How would one uninstall the python version? (I'm only a casual user.)
Thanks!

@91ajames
Looks like you need to install speedtest-cli
`sudo pip install speedtest-cli`

[2020-09-15 01:52] flipptx commented on #54
@P4RI4H  sorry I've been on the road so i cant confirm yet, if this is the fix. I'll take a look when i fly back later this week

[2020-09-15 03:07] arevindh commented on #54
@P4RI4H @flipptx  python version is inaccurate, uninstall it and install the official version https://www.speedtest.net/apps/cli

`sudo pip uninstall speedtest-cli` should work

[2020-09-16 01:53] P4RI4H commented on #48
Didn't know if I should re-open this topic or start a new one.

I'm having the same issue, except I have speedtest-cli installed, ad it works when I test using the bash script. Just nothing I schedule seems to take. Any ideas?

[2020-09-16 19:09] trossr32 commented on #30
Here's my upvote for this. It would be great to be able to set a start and end date for data shown in the graph on the dashboard, or on a graph in a separate tab.

[2020-09-16 21:59] P4RI4H opened #55 "Scheduler not working"
Scheduler will not automatically run speedtest.
Troubleshooting I've done:
 - Uninstalled/reinstalled speedtest
 - Uninstalled/reinstalled official speedtest-cli
 - Ran `sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"` to test
 - Tried switching Speedtest-CLI and Python and tried changing frequency

The test works but I cannot for the life of me get it to run automatical

[2020-09-18 10:46] thexile commented on #55
I concur with @P4RI4H. The scheduler is broken. I have installed pihole-speedtest for a nearly week and no speedtest has been executed automatically yet.

[2020-09-21 12:54] arevindh commented on #55
@thexile @P4RI4H can u post output of `sudo crontab -u root -e`

[2020-09-21 16:50] thexile commented on #55
![image](https://user-images.githubusercontent.com/7766368/93796592-a4847380-fc6d-11ea-81a8-00a50d6b8cf0.png)

[2020-09-21 18:00] smartermoney commented on #55
I will also concur with @P4RI4H and @thexile . I installed speedtest on 2 different pi's and neither will run speedtest. I thought it was something I did till I went searching.

I also ran the suggested (sudo crontab -u root -e) and got the same thing as @thexile (an empty one so I'm not posting the pic)

[2020-09-21 19:47] j-broo commented on #55
Concur with above problems. Have tried reinstalling the speedtest mod also. Test script does the following:
[code]

[2020-09-22 03:37] arevindh commented on #55
I am working on a fix, please put the following in the file for now.
`0 */1 * * * sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"  > /dev/null 2>&`

[2020-09-22 16:33] smartermoney commented on #55
The file has been entered. It does change the time in the file when I change it in the GUI.
I have it set to test hourly. Will update if it does so

[2020-09-22 19:51] smartermoney commented on #55
I have it set to run a test every hour. Its been 3 hours and no test has run yet.
When i run sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"
I get an error
![speedtest-error](https://user-images.githubusercontent.com/71663684/93930477-0d5a0300-fce3-11ea-9788-d0314d93af9c.png)

[2020-09-22 21:23] smartermoney commented on #55
running hourly as expected now.

[2020-09-24 13:16] thexile commented on #55
Working great now.
![image](https://user-images.githubusercontent.com/7766368/94149987-2dd4b980-feab-11ea-9910-28b295dced9d.png)

[2020-09-29 12:15] Afraidium opened #56 "Suggestion: Readme update."
When first attempting to use custom servers with this script, I was failing when entering an IP address for the server to test with.
It was not apparent at first that instead of an IP address the server ID is required.

Can you please update the readme with information on using a server ID from [https://c.speedtest.net/speedtest-servers-static.php](https://c.speedtest.net/speedtest-servers-static.

[2020-10-01 14:10] Rafael44p commented on #54
@arevindh I'm having a simular problem and i don't know where from, i'm using an vm.

[code]

[2020-10-02 02:46] arevindh commented on #54
@Rafael44p use this to uninstall the python version and  install official CLI

[2020-10-02 02:52] arevindh commented on #56
@Afraidium Thank you, updated wiki.

[2020-10-02 02:52] #56 closed

[2020-10-02 09:49] Rafael44p commented on #54
@arevindh pip command is not found, and I have installed the official speedtest-cli.
Both speedtest and speedtest
-cli work in shell but not in the pihole interface

[2020-10-04 01:05] arevindh commented on #54
@Rafael44p which os are your running on?
Can you post the output of `whereis speedtest`

[2020-10-04 01:16] Rafael44p commented on #54
@arevindh

Ubuntu 20.04.1 LTS (GNU/Linux 5.4.0-48-generic x86_64)

whereis speedtest
speedtest: /usr/bin/speedtest /usr/share/man/man1/speedtest.1.gz

[2020-10-05 12:03] arevindh commented on #54
@Rafael44p Seems something changed on `speedtest` .
Can you post output of `speedtest --help`

[2020-10-05 12:05] Rafael44p commented on #54
@arevindh

[code]

[2020-10-05 12:06] arevindh commented on #54
@Rafael44p its python speedtest . You have to uninstall this.

[2020-10-05 12:07] Rafael44p commented on #54
@arevindh ok, but how do you unistall something that says it's not installed?

[2020-10-05 12:08] arevindh commented on #54
@Rafael44p try
`sudo pip3 uninstall speedtest-cli` OR
`sudo pip uninstall speedtest-cli` OR
`sudo apt-get remove speedtest-cli`

[2020-10-05 12:09] arevindh commented on #54
Its installed somehow. Need to remove it for the rest to work.

[2020-10-05 12:13] Rafael44p commented on #54
@arevindh
The last one did it for me and now?

Thx for being patient, I'm still figuring out linux commands there are so many ways you can change things.

[2020-10-05 12:14] arevindh commented on #54
@Rafael44p
[code]

[2020-10-05 12:19] Rafael44p commented on #54
@arevindh
[code]

Is this normal? because i can't install speedtest because it's unable to locate package "speedtest".

[2020-10-05 12:24] arevindh commented on #54
@Rafael44p try edit `/etc/apt/sources.list.d/speedtest.list` and change focal to bionic
then try

[code]

[2020-10-05 12:31] Rafael44p commented on #54
@arevindh

That did the trick i suppose.
Checked pihole and used `sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh" ` immediately showed 1 result.

you might want to add this solution for everyone that's trying installing this on focal.

Thanks allot

[2020-10-05 19:01] j-broo commented on #55
I have a weird problem. Wondering if anyone else has experienced this. After applying the above fix, the scheduler works again. My settings are for a speed test every hour, however, every night the 4am speedtest fails, with 0 for ping, download and upload. Anyone else found something similar? Any ideas on where to look for clues?

[2020-10-06 02:04] arevindh commented on #55
Most probably it is your internet connection / router issue . If possbile try running ping around 3:55 - 4:05 and logging the result to a file for debugging in the morning.

There was a issue previously with one of the users of this mod , his internet will get disconnected for 2-3 minutes at 2:00 AM everyday . So he wont get any usefull data for that time.

[2020-10-07 17:28] 91ajames commented on #54
Had this working roughly a yr ago, and hadn't had time to comment back. Have the same problem as you @Rafael44p as @arevindh suggested. works running throu the `speedtest-official.sh` file but nothing is kept in pihole. No isp, no speeds, just blanks.

And if your mentioning the change of the servers. yea, I have had that problem saying

`root@tinkerboard:/# sudo "/var/www/html/admin/scripts/pi-ho

[2020-10-08 05:30] arevindh commented on #54
@91ajames You are still using `speedtest-cli` python . Please read the following conversation

[2020-10-08 17:56] 91ajames commented on #54
@arevindh yea, i guess its not so supported on my end. Even installed the deb file manually. and yes, i have uninstalled the python in the past and have done it now.

[code]

[2020-10-09 03:11] arevindh commented on #54
Which is your device and OS ?

[2020-10-09 16:19] #55 closed

[2020-10-11 05:14] #21 closed

[2020-10-11 05:14] #2 closed

[2020-10-12 20:14] j-broo commented on #55
Thanks. Turns out my AP was rebooting daily at 4AM. D'oh!

[2020-10-12 21:11] j-broo opened #57 "Feature: average DL, UL and Ping"
It would be nice to include and caculate average download, upload and ping stats. These should be the averages over the selected graph period (eg, 7 days) and could be displayed below/above the graph, and recalculated after each speedtest.

For someone like me who is on LTE and has widely varying results (my ISP sucks) this would be nice to get an overall idea of the ISP performance.

[2020-10-18 13:51] baschi29 opened #58 "Error: no such table: speedtest"
I followed the install instructions step by step. When running
`sudo /var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh`
I get the following error (with output beforehand):
[code]
I suppose somthing isn't right with the database but have no idea what could have caused that.

[2020-10-18 13:54] baschi29 commented on #58
Actually, it seems that I was too quick, just needed to wait a little and now everything is working as expected.

[2020-10-18 13:54] #58 closed

[2020-10-18 18:15] 91ajames commented on #54
Sry for not replying back, did not pop in my notifications.
Asus TinkerBoard / TinkerOS - which is debian armfh

Worked in the past but that was long ago. Maybe somehow update it without python (or the latest python ver. this setup could be supported) so it could support others that would show up in the graph once again in case Speedtest.net doesn't work for others.

in the past, your install scry

[2020-10-20 15:05] scotty7d opened #59 "No Internet"
I have followed the instructions and I am not getting the same results i did in the past. Any suggestions?
![SpeedTest-NoInternet](https://user-images.githubusercontent.com/65547072/96605343-00cec780-12ee-11eb-9f07-a44c682e681f.JPG)

[2020-10-20 15:22] scotty7d commented on #59
Update, it wont let me uninstall (i think)
![SpeedTest-NoInternet](https://user-images.githubusercontent.com/65547072/96607580-6623b800-12f0-11eb-8fee-280c5c4869f9.JPG)

[2020-10-21 03:37] arevindh commented on #59
try `rm -rf mod_admin` before  `mv admin mod_admin`

[2020-10-21 03:39] arevindh commented on #59
Can you post the output of ` speedtest -help`

[2020-10-22 17:32] razereru opened #60 "Time Option"
Hello,
would it be possible to perhaps add a "shorted time" like 5 or 15 mins? the sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"  helps to see if it works but it would be great to be able to run the test more often

[2020-10-22 17:35] razereru opened #61 "Speed test server selection"
Is the speed test server list something that is kept by the SpeedTest team or by you? it seems to me that the servers that are on the list don't include every country:-( and I would guess that speed test to the same server in the same country would be most "telling-consistent" is there somehow a possibility to add a server?

[2020-10-23 01:52] arevindh commented on #61
@razereru The [Speedtest ](https://www.speedtest.net/)os the property of [Ookla ](https://www.speedtest.net/about). This plugin just uses their service.

[2020-10-23 01:52] #61 closed

[2020-10-23 01:55] arevindh commented on #60
[Crontab generator](https://crontab-generator.org/) will help you with that . Paste `sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"` in command section .

Edit and replace the exisitng line using `sudo -u root crontab -e`

[2020-10-26 01:46] #60 closed

[2020-10-30 20:26] vasundhar opened #62 "Ability to fall back to default if the selected speed test server becomes unavailable or unresponsive"
One of the server I have chosen became unresponsive (could be temporary),
so I changed the script to back out and retry in 25 or so seconds later.

I feel it may not be a bad idea to pick any other available network
if the speed test fails.

You can however keep the list for a day before referring and use the list as back up.

[2020-11-06 14:14] jolleyutah commented on #57
+1

[2020-11-06 14:16] jolleyutah commented on #27
Even if not schedule able, it would be nice to have an "export to CSV" button on the speedtest results interface.

[2020-11-06 14:20] jolleyutah opened #63 "No Issue, just wanted to say thanks!"
Love the tool, it brings my pihole to near completion. Thanks for building it...

[2020-11-06 14:25] j-broo commented on #62
Could also be accomplished by allowing the choice of primary and secondary speedtest servers. If the primary fails, fall back to secondary.

[2020-11-06 14:26] jolleyutah opened #64 "Request: Ability to burst tests"
Would it be possible to set it up so that a speedtest is run every X minutes for a given time period, then back to normal schedule?

There are some hours where results are low, I'd like to dig into the hour and see if there are patterns to low speed.

{Run test every 10 minutes for next 2 hours, then back to running every hour.}

I could do it through cron, but it'd be handier through the gui, and

[2020-11-10 02:11] arevindh commented on #63
Thank you

[2020-11-10 02:11] #63 closed

[2020-11-10 02:12] #59 closed

[2020-11-29 01:14] ChrisWNY opened #65 "ETA on update for Pi-hole 5.2?"
New core/web UI/FTL was released today. Looking forward to seeing the latest Pi-hole-Speedtest update for it!

[2020-11-29 01:22] ChrisWNY commented on #65
Scratch that...looks like the existing Pi-hole Speedtest works perfectly fine with the new updates.

[2020-11-29 02:18] josh3003 commented on #65
Think it will need an update for new installs and checkouts. Having the problem now after the upgrade.

[2020-11-29 03:15] arevindh commented on #65
@ChrisWNY working on it

[2020-11-30 13:49] arevindh commented on #65
@ChrisWNY @josh3003 . Updated, can you check and confirm.

[2020-11-30 14:47] ChrisWNY commented on #65
Seems to be working...version info is correctly reported, the new local DNS records menu (including the new CNAME feature) is working as well from initial testing. Will test more thoroughly during the morning EST and will report back if I run into any issues.

Thanks for the quick turnaround!

[2020-12-02 23:21] josh3003 commented on #65
May need another quick update. Pi-hole Core/Web v5.2.1 and FTL v5.3.2 released.

[2020-12-02 23:27] ChrisWNY commented on #65
Yep, Pi-hole was updated yet again today.

[2020-12-03 00:30] josh3003 commented on #65
Yeah that annoying red flashing update available is annoying lol. I hadn't tested speedtest yet will just wait until 5.2.1 is created and will implement then. Kind of annoying there is probably some check somewhere and you could just hardcode the version number to satisfy that red glow.

[2020-12-03 00:34] ChrisWNY commented on #65
I've updated and applied the speedtest Admin repo to the latest Pihole build and everything works fine. You won't trash your Pihole install as all you're doing is overwriting some web pages and a script with the custom speedtest version. If you follow the manual update process it's very simple to revert and only takes a few seconds to do so.

[2020-12-03 11:29] arevindh commented on #65
@josh3003 @ChrisWNY : Just some text [changes](https://github.com/pi-hole/AdminLTE/pull/1642/files) . Will update after work hours.

[2020-12-04 12:48] arevindh commented on #65
@josh3003 @ChrisWNY  Updated

[2020-12-04 13:36] ChrisWNY commented on #65
I grabbed the latest Admin LTE - pihole -v is outputting the following after update:
AdminLTE version is v5.2-6-g7a9e44a9

This causes the web UI to think there is an update still available (and reports the Web UI as 5.2 instead of 5.2.1). Just wanted to double-check. Thanks.

[2020-12-04 14:37] arevindh commented on #65
@ChrisWNY  Check now, forgot to create the release.

[2020-12-04 15:09] ChrisWNY commented on #65
That worked...version reported properly, everything seems good to go. I'll close this one. Thanks for the quick updates and follow-ups!

[2020-12-04 15:09] #65 closed

[2020-12-17 13:16] mgarland1988 commented on #40
Results are far more accurate using the official Speedtest CLI client.

The only issue that I am still seeing is no distance date (Issue 3)
Was there a fix for this, or is this still ongoing?

Thank you for all your hard work!

[2020-12-17 16:14] arevindh commented on #40
The field will be removed soon since the official server does not provide distance info

[2020-12-22 20:42] deannreid opened #66 "Error running speedtest script"
when running the test file (sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh" )

The following error appears

/opt/pihole# sudo "/var/www/pi.hole/admin/scripts/pi-hole/speedtest/speedtest-official.sh"
Testing with
usage: speedtest [-h] [--no-download] [--no-upload] [--single] [--bytes]
                 [--share] [--simple] [--csv] [--csv-delimiter CSV_DELIMITER]

[2020-12-25 02:16] ChrisWNY opened #67 "New Pi-hole release 5.2.2"
New Pi-hole released today, 12/24. Looks like speedtest will likely need another minor update for the new version.

[2020-12-25 02:23] arevindh commented on #67
Working on it.

[2020-12-25 05:09] arevindh commented on #67
@ChrisWNY updated, can you check and confirm?

[2020-12-25 05:19] ChrisWNY commented on #67
Updated to latest speedtest admin repo...looks good, no issues. Thanks for the quick update! Enjoy your holiday!

[2020-12-25 17:06] ChrisWNY commented on #67
Problem seems to have sorted itself out overnight...list of speedtest servers seems to have changed.

Thanks for the quick turnaround and enjoy your holiday and New Year! I'll close this one out.

[2020-12-25 17:06] #67 closed

[2021-01-12 08:18] arevindh commented on #66
Please change to official CLI

[2021-01-12 08:18] #66 closed

[2021-01-16 14:39] ChrisWNY opened #68 "Another Pi-hole update - 5.2.3/5.3/5.4"
Pi-hole was just updated. Change log for the web UI:
https://github.com/pi-hole/AdminLTE/releases/v5.3

Just a heads-up and look forward to another speedtest update!

[2021-01-18 03:09] arevindh commented on #68
Hey, @ChrisWNY was out for a few days. Started the update now.

[2021-01-18 04:49] ChrisWNY commented on #68
Sounds good...can test that out for you in the AM tomorrow (EST) once it's ready. Thanks!

[2021-01-18 07:02] arevindh commented on #68
@ChrisWNY Updated

[2021-01-18 13:09] ChrisWNY commented on #68
Everything looks good...installed earlier this AM (EST), no issues, correct version reported. Thanks yet again for the quick turnaround. Will close this one!

[2021-01-18 13:09] #68 closed

[2021-01-20 00:37] ChrisWNY opened #69 "Another pi-hole update - 1/19/2021"
Looks like the web UI only saw a couple minor changes in the latest update...

https://github.com/pi-hole/AdminLTE/releases/v5.3.1

Core is 5.3.4 and FTL is 5.5.1.

[2021-01-20 01:47] arevindh commented on #69
Working on it

[2021-01-20 02:29] arevindh commented on #69
@ChrisWNY Updated

[2021-01-20 03:12] ChrisWNY commented on #69
Good to go! Thanks!

[2021-01-20 03:12] #69 closed

[2021-01-24 14:30] ChrisWNY opened #70 "Speedtest - list of servers"
What determines which servers are listed within the following link below?

https://c.speedtest.net/speedtest-servers-static.php

I've noticed that generally-speaking, speedtest servers that are physically nearby are listed on that XML page. Lately, however, it's been all over the place (I'm located in the NE US, and that list is showing speedtest servers in the NW US).

Within the Pi-hole Speedtes

[2021-01-25 23:03] ChrisWNY commented on #70
I guess this could turn into an enhancement request...perhaps allowing input of the speedtest server URL within settings instead of ID. That XML file appears to be unreliable and changes randomly based on circumstances that are unknown.

[2021-01-29 02:20] arevindh commented on #70
@ChrisWNY unfortunately there is no option available to use URLs. All I can do is list the nearby servers, may be will add that in a future release.

[2021-01-29 20:26] ChrisWNY commented on #70
Understood - the issue seems to be related to what gets populated into the nearby servers XML file. Seems to vary wildly sometimes. Haven't figured it out.

[2021-01-29 20:28] ChrisWNY opened #71 "Pi-hole web UI v5.3.2/FTL v5.6"
Pi-hole released updates for the web UI and FTL. Web UI changes appear to be minor again:

https://github.com/pi-hole/AdminLTE/releases/v5.3.2

[2021-01-30 03:24] arevindh commented on #71
Already updated.
https://github.com/arevindh/AdminLTE/pull/33

[2021-01-30 04:15] ChrisWNY commented on #71
Looks good! Closing this one.

[2021-01-30 04:15] #71 closed

[2021-02-06 03:38] cronus130 commented on #54
Any update on this? Would love to get the “official” Speedtest working as an option as the python version (speedtest-cli) does not report results accurately with 300Mb/s or higher.

I test installed this version which is working, with accurate results on my Raspberry Pi 4 (when run as a stand alone command “speedtest”):
[code]

Source : https://www.speedtest.net/apps/cli

[2021-02-06 03:50] arevindh commented on #54
It is already a part of this mod since **June 4 2020** .

https://github.com/arevindh/pihole-speedtest/blob/master/README.md

[2021-02-06 03:50] #54 closed

[2021-02-06 03:51] #6 closed

[2021-02-08 14:02] town3r opened #72 "Angles of time on dashboard graph not present"
The time labels of the dashboard graph are not angled like the others resulting in text being covered.

![image](https://user-images.githubusercontent.com/12396203/107229907-00b11f80-69e4-11eb-8c05-ee15ad3d6530.jpeg)

[2021-02-13 12:35] Goayandi opened #73 "Help: PiHole Webpage isn't responding / Terminal: Error: no such table: speedtest"
Hey guys,

I tried to install Speedtest for my Pihole following your instructions. However, the web panel in PiHole does not work - as you can see on the screenshot. It gets stuck in the processing mode.  When using the terminal / ssh command it shows:

Testing with
2021-02-13 13:27:30     2021-02-13 13:27:47     Vodafone Germany DSL    178.x.xxx.xxx    UIT Services GmbH       0       8.74    49.1

[2021-02-13 17:05] arevindh commented on #73
Can you try to uninstall and reinstall

Uninstall : https://github.com/arevindh/pihole-speedtest/wiki/Uninstalling-Speedtest-Mod

Installing : https://github.com/arevindh/pihole-speedtest/wiki/Installing-Speedtest-Mod

[2021-02-16 23:35] town3r opened #74 "Pi-hole FTL v5.7 and Web v5.4 released"
Pi-hole released updates for the web UI and FTL.:

https://github.com/pi-hole/AdminLTE/releases/tag/v5.4

https://pi-hole.net/2021/02/16/pi-hole-ftl-v5-7-and-web-v5-4-released/

[2021-02-18 20:03] town3r commented on #74
I'm guessing having the mod installed is what's preventing me from updating to WebUI v5.4

[2021-02-19 01:32] ChrisWNY commented on #74
You can update to Web UI v5.4 by following the instructions to "Revert Admin" and "Revert Pi-hole", this will replace the speedtest mod web UI with the latest Pi-hole web UI. Running "pihole -up" after reverting will update you to the latest Pi-hole.

https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod

Until pihole-speedtest is updated, getting the latest speedtest admin rep

[2021-02-19 03:18] arevindh commented on #74
@ChrisWNY Thank you for explaining, I was a bit busy with office works.

Just updated the mod to v5.4.

[2021-02-19 03:21] arevindh commented on #73
Closing the issues, please reopen if issues persist.

[2021-02-19 03:21] #73 closed

[2021-02-19 03:29] arevindh commented on #74
@ChrisWNY Let me know if you face any issues.

[2021-02-19 03:32] ChrisWNY commented on #74
Grabbed the latest repo just now, everything seems in working order. Thanks for another quick update!

[2021-02-19 04:06] arevindh commented on #72
@zelrone Can you take a look at it.

[2021-02-19 06:40] #74 closed

[2021-03-18 11:29] arevindh opened #75 "FEATURE REQUEST: View Speedtest results without being logged in"
@Intecpsp  By default only the "Total queries over last 24 hours" graph is shown when not logged in. This keeps the actual client data from being shown to unauthorized users. I believe the speedtest graph is safe enough to be shown without being logged in.

Moved from https://github.com/arevindh/AdminLTE/issues/36

[2021-03-18 11:33] arevindh opened #76 "Feature : Detailed Speedtest History"
Planing to add a detailed history page of what pihole provides.

![image](https://user-images.githubusercontent.com/693151/111619431-94f47a80-880b-11eb-82ed-d2e0fdda0abd.png)

@ChrisWNY Any more suggestions to add?

[2021-03-18 15:38] ChrisWNY commented on #76
Looks good - a detailed speedtest history graph would definitely be a useful feature.

More control over the specific speedtest server to use would be useful...the XML custom speedtest file seems to change randomly based on location data (sometimes I'll specify a certain speedtest server and it'll disappear from that XML file randomly, causing errors, 0mbps up/down ends up plotted on the graph). N

[2021-03-29 07:06] arevindh commented on #76
@ChrisWNY I was working on a standalone version, how does it look ?

![image](https://user-images.githubusercontent.com/693151/112798953-507aa180-908b-11eb-8722-b0a2884b5453.png)

[2021-03-29 13:07] arevindh commented on #76
@ChrisWNY Would you like to test a new standalone version (Docker) for the speedtest mod?

[2021-03-29 13:42] ChrisWNY commented on #76
Yes absolutely - let me know how to go about installing (will it be ok running on the same device as Pi-hole?) and I will test it from my end. Look forward to it!

[2021-03-29 14:38] arevindh commented on #76
Which device are you using to run pihole ?

[2021-03-29 15:19] arevindh commented on #76
Try this docker

https://hub.docker.com/repository/docker/arevindh/homelab-tracker

[2021-04-03 06:12] arevindh commented on #76
Its updated now : https://hub.docker.com/r/arevindh/homelab-tracker

[2021-04-12 16:21] town3r opened #77 "403 Forbidden | https://ookla.bintray.com/debian"
Is anyone else getting this error message from the official speedtest repo when attempting to run `sudo apt update` ?

`Err:2 https://ookla.bintray.com/debian buster InRelease
  403  Forbidden [IP: 34.214.237.80 443]
Hit:3 http://raspbian.raspberrypi.org/raspbian buster InRelease
Reading package lists... Done
E: Failed to fetch https://ookla.bintray.com/debian/dists/buster/InRelease  403  Forbidde

[2021-04-12 16:34] town3r commented on #77
Looks like the JFrog hosting site is shutting down it's bintray service soon and today they had pre-planned brown-outs which is likely the cause of the 403 errors.

[https://bintray.com/ookla/debian/speedtest-cli](https://bintray.com/ookla/debian/speedtest-cli)

[2021-04-12 16:36] town3r commented on #77
[BinTray Status](https://status.bintray.com/)

Schedule brown-out session on April 12th 6AM to 2PM Pacific Daylight Time

**In progress** - Scheduled maintenance is currently in progress. We will provide updates as necessary.

Apr 12, 13:00 UTC
**Scheduled** - Scheduled brown-out session to warn users about May 1st as sunset date for Bintray.

Artifactory installations with remote repositories con

[2021-04-12 16:37] town3r commented on #77
I've sent an email to support@ookla.com asking what they're plans are once JFrog EOLs their current BinTray hosting service.

[2021-04-12 19:09] town3r commented on #77
Update from Ookla Support:

Our engineering is aware of it and working to fix it as we speak.

[2021-04-12 20:40] town3r commented on #77
Issue doesn't seem to be occurring anymore. 🥳

[2021-04-12 20:40] #77 closed

[2021-04-13 04:51] arevindh commented on #77
Great :partying_face: .

[2021-04-14 02:52] rodhammond opened #78 "Dashboard not updating after installing speedtest"
Even after reboot, dashboard charts do not populate or automatically update after installing speedtest. If I mouse over each chart, they "fill" in.   If speedtest is uninstalled, dashboard works correctly.

x86
Pi-hole v5.2.4
Web Interface v5.4
FTL v5.7

[2021-04-14 18:40] town3r opened #79 "Pi-hole FTL v5.8, Web v5.5 and Core v5.3 released"
https://github.com/pi-hole

https://pi-hole.net/2021/04/14/pi-hole-ftl-v5-8-web-v5-5-and-core-v5-3-released/

[2021-04-14 19:07] Intecpsp commented on #79
Beat me to it

[2021-04-14 23:57] ChrisWNY commented on #79
You can still follow the manual update instructions if you want to run the latest Pi-hole core and FTL...

https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod

Once the new speedtest admin repo is out there you only need to follow the manual steps to update the admin repo and webpage.sh script.

[2021-04-15 08:29] arevindh commented on #79
@ChrisWNY @town3r @Intecpsp Will update in few hours ,

[2021-04-15 08:30] arevindh commented on #78
Please check after few hours, new update is pending

[2021-04-15 08:31] arevindh commented on #76
@ChrisWNY Did you try it ?

[2021-04-15 12:53] town3r commented on #79
Thank you! :)

[2021-04-15 13:43] ChrisWNY commented on #76
I will finish testing in a few hours and provide feedback in this thread. Apologies for the delay - I was out of town for business the past couple of weeks but am home now. Will have this done shortly.

[2021-04-15 14:28] arevindh commented on #78
@rodhammond can you post some video/gif?

[2021-04-15 14:37] arevindh commented on #79
Updated, Please use the [update](https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod) guide to update your Pi-hole.  If you encounter any problems please post here.

@ChrisWNY @Intecpsp @town3r

[2021-04-15 14:41] town3r commented on #79
I'm guessing if I went through the Uninstall Speedtest Mod steps [here](https://github.com/arevindh/pihole-speedtest/wiki/Uninstalling-Speedtest-Mod) last night.

I should just go through the [Installing ](https://github.com/arevindh/pihole-speedtest/wiki/Installing-Speedtest-Mod)Speedtest Mod steps again instead of using the fancy One-click Update method.

[2021-04-15 14:44] ChrisWNY commented on #79
Use the manual method, it works reliably on virtually any type of pi-hole installation.

I ran the update and everything seems good, new theme is available (which was the most notable change in the 5.5 web update).

[2021-04-15 14:55] town3r commented on #79
Got it reinstalled and working! :) Thanks for the quick update @arevindh

One thing I noticed related to the current Install instructions on the Wiki is that it at the top it has you remove the Python CLI version of Speedtest ie: speedtest-cli and says to install the the official Speedtest CLI version.

Further down it mentions:

But the official version would just be `speedtest -h`

Do the instal

[2021-04-15 14:57] town3r commented on #72
Is there a specific file that has the configuration of how things are displayed on the graph that I could test a few things?

[2021-04-15 15:28] arevindh commented on #79
@town3r Thanks, Removed `speedtest-cli -h`

[2021-04-15 15:59] arevindh commented on #72
@town3r I tried a few things but the current one is the best I could do.

[2021-04-15 17:07] #75 closed

[2021-04-15 17:14] #79 closed

[2021-04-15 17:29] town3r commented on #72
Guessing no, but is it possible to just copy the graph style of Total Queries & Client activity?

I'm digging into the AdminLTE-master files a bit to see if i can find where you added the Speedtest graph.
Was the code to add the speedtest graph just merged with the existing datatables css file or is there a separate new one?

Apologies for all the questions. first time really looking at the files

[2021-04-15 17:48] arevindh commented on #72
@town3r  Js file is available here `https://github.com/arevindh/AdminLTE/blob/master/scripts/pi-hole/js/speedtest.js`.

If you are successful a pull request is appreciated.

[2021-04-16 06:01] flipptx opened #80 "cant switch to CLI mode"
been running the python version for all this time, updated yesterday saw the test hasn't ran since, so figured i should update to the CLI version but i cant seem to get it to work. do you have a nice BASH script to remove the python version and swap over to the new CLI version?

[2021-04-16 06:03] arevindh commented on #80
No scripts currently .

Try any of the below

`sudo pip3 uninstall speedtest-cli`

OR

`sudo pip uninstall speedtest-cli`

OR

`sudo apt-get remove speedtest-cli`

Installs https://www.speedtest.net/apps/cli

[2021-04-16 06:06] flipptx commented on #80
which option for raspbian

[2021-04-16 06:08] arevindh commented on #80
Try everything ..

[2021-04-16 06:12] flipptx commented on #80
it seems to install but when i type speediest in terminal "-bash: /usr/local/bin/speedtest: No such file or directory"

[2021-04-16 06:26] flipptx commented on #80
got it, looks like its a bug with ssh sessions!

[2021-04-16 06:27] arevindh commented on #80
Did this one ? Install https://www.speedtest.net/apps/cli

Ps. use the debian/ ubuntu option

[2021-04-16 06:31] flipptx commented on #80
yep the debian one works in terminal have i had to clear my SSH Sessions, but the results from term don't seem show in pihole, ill have to wait a few hours for it to auto run then i guess? (not sure if its possible but it would be great if there was a "test now option" in the GUI

[2021-04-16 07:06] arevindh commented on #80
Did you set the Test interval ?

Test now using . `sudo /var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh`

I am making a standalone [version](https://hub.docker.com/r/arevindh/homelab-tracker) with more features .

[2021-04-16 14:34] flipptx commented on #80
its working now, thanks

[2021-04-16 15:38] #80 closed

[2021-04-16 16:42] town3r commented on #72
Thank you!
Super new to JS and really Github was well so no idea how to perform a pull request.
Did find removing `Do` from the `(itemdate).format("Do HH:mm")` line seems to help when viewing on mobile.
and modifying the `maxTicksLimit` from `10` to `20` helped as well.

![IMG_1024](https://user-images.githubusercontent.com/12396203/115051136-1dfde080-9ea2-11eb-9cfa-450115552a55.jpg)

Haven't been

[2021-04-17 13:26] arevindh commented on #72
@town3r now it's missing date right?

[2021-04-17 13:28] town3r commented on #72
Yeah, which I'm ok with.

I was more wanting it to mirror what the other graphs look like & display on the admin dashboard.

When it's only showing the last 24 some hours the date isn't really needed.

[2021-04-17 14:51] arevindh commented on #72
But it is not good for more than a day.

[2021-04-18 02:59] rodhammond commented on #78
Thanks for the update. Everything is working correctly  :)

[2021-04-20 12:18] Whitedoteu opened #81 "Error after installation"
Hi,
 after following your install instructions i got an Error when testing

`Error: no such table: speedtest`

After looking through your script and instructions i think i found the Error.
In the install.sh your are moving the speedtest.db from /admin/scripts/pi-hole/speedtest to /etc/pihole/

This step is missing from the install instructions.

Regards
Tobi

[2021-04-20 17:00] arevindh commented on #81
It is added when the first test runs.
Try
` sudo /var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh`

[2021-04-20 18:32] Whitedoteu commented on #81
[code]
Thats the Script on my RPI and i don't think it is in there.
To COPY the DB.

[2021-04-21 01:39] arevindh commented on #81
Thanks for letting me know.
Copy database code was in the run speedtest now command `pihole -a -sn` . I have copied it to the Install section of Wiki.

[2021-04-21 01:40] #78 closed

[2021-04-21 01:40] arevindh commented on #76
Closing this since since the feature is moved to  https://hub.docker.com/r/arevindh/homelab-tracker

[2021-04-21 01:40] #76 closed

[2021-05-05 15:27] town3r commented on #72
Hit up the discourse.pi-hole.net forum to see if maybe someone knows how the Pihole devs configured their fancy dashboard graphs.

https://discourse.pi-hole.net/t/pihole-dashboard-graph-configuration-file-location/46817

[2021-05-11 20:49] ChrisWNY opened #82 "Speedtest CLI - python errors"
When using official Speedtest CLI...

Noticed today that when I attempted to run speedtest manually via the command line, I'd get the following error:

<code>sudo pihole -a -sn

Testing Speed
Traceback (most recent call last):
  File "/usr/local/bin/speedtest-cli", line 10, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/speedtest.py", line 1930, in main
    shell()

[2021-05-11 21:17] ChrisWNY commented on #82
You can close this issue...the python speedtest module was old, v2.0.3. Updating the module corrected the issue.

sudo  python3 -m pip install --upgrade speedtest-cli

[2021-05-12 13:19] #82 closed

[2021-05-13 04:30] ChrisWNY opened #83 "Speedtest scheduled update no longer working"
Since updating the Speedtest module, the scheduler no longer works.

When running the following command:
sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"

The result is as follows (appears to be related to deprecated args being passed to speedtest):

usage: speedtest [-h] [--no-download] [--no-upload] [--bytes] [--share]
                 [--simple] [--csv] [--csv-delimite

[2021-05-13 13:36] arevindh commented on #83
May I know why are you still using python speedtest ?

[2021-05-13 13:44] ChrisWNY commented on #83
I'm using the Official-CLI Speedtest which is installed and running on my Raspberry Pi 4b. I have "official CLI" chosen in settings.

![Screenshot_20210513-094358_Chrome](https://user-images.githubusercontent.com/65196976/118134366-d8b0ce00-b3cf-11eb-86c6-b820d0885313.jpg)

[2021-05-13 13:48] arevindh commented on #83
I think you have python version also installed

try `speedtest-cli -h`

[2021-05-13 13:53] ChrisWNY commented on #83
I get this as the output - arguments still seem to have changed in the speedtest-CLI...

speedtest-cli -h
usage: speedtest-cli [-h] [--no-download] [--no-upload] [--single] [--bytes]
                     [--share] [--simple] [--csv]
                     [--csv-delimiter CSV_DELIMITER] [--csv-header] [--json]
                     [--list] [--server SERVER] [--exclude EXCLUDE]
                     [

[2021-05-13 14:03] arevindh commented on #83
It's speedtest python version please uninstall it and try again . See any of the below work.

`sudo pip3 uninstall speedtest-cli`

OR

`sudo pip uninstall speedtest-cli`

OR

`sudo apt-get remove speedtest-cli`

[2021-05-13 14:06] ChrisWNY commented on #83
Ok, it's uninstalled - how do I go about installing the non-python CLI? On the Speedtest-CLI github page, all the install directions seem to point toward installing the Python version. Thanks for helping out!

[2021-05-13 14:07] arevindh commented on #83
Check here : https://www.speedtest.net/apps/cli

[2021-05-13 14:10] ChrisWNY commented on #83
So I've tried that one recently...I get an error stating that the distribution version is not supported when trying to install on Raspberry Pi...

curl -s https://install.speedtest.net/app/cli/install.deb.sh | sudo bash
This distribution version is not currently supported via package management, please use the direct download builds per architecture found at https://www.speedtest.net/apps/cli

[2021-05-13 14:24] arevindh commented on #83
Output of  `uname -a`

[2021-05-13 14:24] ChrisWNY commented on #83
Linux raspberrypi 5.10.17-v7l+ #1414 SMP Fri Apr 30 13:20:47 BST 2021 armv7l GNU/Linux

[2021-05-13 14:27] arevindh commented on #83
Try this
[code]

[2021-05-13 14:32] ChrisWNY commented on #83
Still getting this odd error when running speedtest-official.sh...

sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"
Testing with 15197
usage: speedtest [-h] [--no-download] [--no-upload] [--bytes] [--share]
                 [--simple] [--csv] [--csv-delimiter CSV_DELIMITER]
                 [--csv-header] [--json] [--list] [--server SERVER]
                 [--exclude EX

[2021-05-13 14:34] ChrisWNY commented on #83
Output of speedtest-h however looks good now (args line up with your script)...

speedtest -h
Speedtest by Ookla is the official command line client for testing the speed and performance of your internet connection.

Version: speedtest 1.0.0.2

Usage: speedtest [<options>]
  -h, --help                        Print usage information
  -V, --version                     Print version number
  -L, --s

[2021-05-13 14:38] ChrisWNY commented on #83
I see why...the script points to /usr/bin/speedtest for the binaries, so I also moved a copy of the speedtest binaries to /usr/bin

Seems to work now...will see if the scheduler kicks off normally at 12pm EST. Thanks!

[2021-05-13 14:45] town3r commented on #83
With the EOL of bintray it's looking like they're going to want us to migrate to their new version.
I got the same error when attempting the curl command.

Hopefully they update their install script to include raspberry pi flavors of linux.

I'm curious, what would happen if you don't run the `curl` command and only `sudo apt install speedtest`

New install instructions from https://www.speedtest.

[2021-05-13 14:57] ChrisWNY commented on #83
From my experience it installs the Python version of speedtest. The manual method definitely works though.

[2021-05-13 15:31] arevindh commented on #83
No, they won't install python version which is made my 3rd party

Please post the output of `whereis speedtest`

before and after the following commands

[code]

[2021-05-13 15:43] ChrisWNY commented on #83
whereis speedtest
speedtest: /usr/bin/speedtest /usr/local/bin/speedtest /usr/share/man/man1/speedtest.1.gz

[2021-05-13 15:51] arevindh commented on #83
@ChrisWNY Is the schedukled test working now ?

[2021-05-13 17:46] ChrisWNY commented on #83
Yes! Worked great. No issues now. Manual binary install of Speedtest did the job. Thanks again for helping out!

[2021-05-14 13:42] ChrisWNY commented on #83
Closing since this one is  resolved.

[2021-05-14 13:42] #83 closed

[2021-05-20 17:53] pce5962 opened #84 "How to run a test every quarter of an hour"
Good evening,
I followed your installation to set up the speedtest on my pi hole which is hosted on a rapsberry.
I have a question, I would like to be able to perform a test every 15 minutes of the hour, at 0, 15, 30 and 45, what should be changed?

[2021-06-08 11:08] brian6g opened #85 "Pi-hole speed test not working"
Installed to pi 4, run latest updates, get the following errors

when run “ Test Pihole speedtest from commandline“ get following error
Testing with
/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh: line 20: /usr/bin/speedtest: No such file or directory.

Web graphic shows speed test ever hour, but results zero.
If I run “ pihole -a -sn” at command line then it does speed test a

[2021-06-08 15:00] evanrh commented on #82
You can fix this error by commenting out lines 1113-1115 by placing a '#' at the beginning of each.
After commenting them out, add `ignore_servers = []` on line 1116.

[2021-06-09 02:28] arevindh commented on #85
Can you post the output of `whereis speedtest`

[2021-06-09 08:06] brian6g commented on #85
This is the output from “where is Speedtest

speedtest: /usr/local/bin/speedtest

[2021-06-11 02:55] yanniedog opened #86 "Webserver graphs are not displaying correctly"
First: I really love your mod. Fantastic. I'll buy you a coffee after this post.

After installing this mod, the Speedtest graph always loads correctly, but it has caused a problem with how the original graphs on the pihole dashboard load

These graphs only show up if I **move my mouse cursor** over these them, or the **graphs automatically refresh**.
They don't display automatically when the page

[2021-06-11 03:01] yanniedog opened #87 "Unable to set Speedtest schedule from Dashboard"
I wonder if it is because there (? appears) to be a spelling error in your script. I'm not sure if it is causing an issue

In: https://raw.githubusercontent.com/arevindh/pi-hole/master/advanced/Scripts/webpage.sh
"ChageSpeedTestSchedule" (**Chage**, rather than _Change_)

** The only way I was able to get your software to execute on a set schedule was:
`exit`
(ie, exit OUT of the superuser)
`cront

[2021-06-11 03:26] yanniedog opened #88 "Please automate the installation of Speedtest"
Users (such as myself)

- went here (https://www.speedtest.net/apps/cli)
- clicked the "Ubuntu/Debian" section
- followed the instructions
`curl -s https://install.speedtest.net/app/cli/install.deb.sh | sudo bash`
- got this response:
`This distribution version is not currently supported via package management, please use the direct download builds per architecture found at https://www.speedtest.n

[2021-06-11 04:18] arevindh commented on #86
Which browser and version are you using ? Any console errors ?

[2021-06-11 04:21] arevindh commented on #88
@yanniedog Guess they changed the installation method. It was straight forward when the instructions were written, just install deb package and everything was done . Let me see what I can do this weekend .

[2021-06-11 04:23] arevindh commented on #87
`ChageSpeedTestSchedule` does not cause the issue since its written the same on both sides .  Can you answer few questions

1. Which is your OS and Version  ?
2. Which device are you running it on ?
3. Is it a fresh install ?

[2021-06-11 04:24] arevindh commented on #85
@brian6g will update with new instructions this weekend .

[2021-06-11 07:37] yanniedog commented on #86
Google Chrome Version 91.0.4472.101 (Official Build) (64-bit).
I have rechecked the webserver using the Pi's own browser (Chromium), and the same thing happens

The Pi appears to be working normally.
What do you mean by console errors?
Is there a log file I can send you?

[2021-06-11 07:42] yanniedog commented on #87
RPi3B+
Operating System: Raspbian GNU/Linux 10 (buster)
Kernel: Linux 5.10.17-v7+
All fully updated
Fresh installation

[2021-06-11 07:43] yanniedog commented on #88
Much appreciated

[2021-06-18 03:35] arevindh commented on #88
Updated the [doc ](https://github.com/arevindh/pihole-speedtest/wiki/Installing-Speedtest-Mod)for now.

[2021-06-22 08:19] yanniedog commented on #88
Thank you, will try it out shortly

[2021-07-06 20:59] town3r commented on #88
Which version would a Raspberry Pi 4 Model B need?

i386
x86_64
arm
armhf
aarch64

[2021-07-07 01:17] arevindh commented on #88
@town3r

Raspberry Pi can only have `armhf` / `aarch64` . You can choose `armhf` if you are running Raspbian / Raspberry Pi OS.

`uname -a` will show your exact version .

[2021-07-09 09:09] AftDawn commented on #86
Hi there, my speedtest graph is not even showing up
![image](https://user-images.githubusercontent.com/42480566/125053906-f60cca80-e0e8-11eb-9b77-50a96306da30.png)

i'm also getting CSP errors inside of Brave
![image](https://user-images.githubusercontent.com/42480566/125054020-19377a00-e0e9-11eb-954b-143c6bbd044c.png)
![image](https://user-images.githubusercontent.com/42480566/125054061-26546900-

[2021-07-09 10:54] AftDawn commented on #86
I tried removing img-src from the CSP but that made every image not load (i don't know anything about php or the CSP part of html) so i added it back again.

[2021-07-10 02:54] arevindh commented on #86
@AftDawn seems like your test does not yet run. Can you help me with the result of `<pihole-ip>/"api.php?getSpeedData24hrs&PHP`  (Please remove / hide IP address before posting here )

[2021-07-10 06:57] AftDawn commented on #86
nevermind, it just seems that i needed to wait a day. tho i'm still having to mouse over the charts to get the info
![image](https://user-images.githubusercontent.com/42480566/125154912-e00e1100-e19f-11eb-9ecc-3efc48fddc8b.png)

[2021-08-04 22:58] ChrisWNY opened #89 "Pi-hole web UI updated to 5.5.1"
Looks like the Web UI received a minor update today to address a couple of security vulnerabilities, 8/4/2021. Pi-hole Core and FTL remain unchanged.

https://github.com/pi-hole/AdminLTE/releases/tag/v5.5.1

GHSA-g3w6-q4fg-p8x8 - "Stored XSS Vulnerability in the Pi-hole Webinterface" reported by both Dariusz Gońda and @awareseven

GHSA-5cm9-6p3m-v259 - "(Authenticated) Remote Code Execution Possib

[2021-08-10 10:21] arevindh commented on #89
@ChrisWNY Updated

[2021-08-12 17:43] ChrisWNY commented on #89
Installing and testing now...will close it out shortly.

[2021-08-12 17:45] ChrisWNY commented on #89
All set! Thanks and closing with this comment.

[2021-08-12 17:45] #89 closed

[2021-08-28 00:39] hasan0610 opened #90 "Can u make the time increments smaller down to 1 minute or 5 minutes"
the smallest time per test is 1 hour is it possible to make it less like 5 inutes or 1 minute

[2021-08-28 00:59] hasan0610 commented on #88
canu make like a curl command that will do all the installing for u including the speedtest cli jq sqlite and like everything

[2021-08-29 13:24] arevindh commented on #90
@hasan0610

Generate custom crontab
Use this [site](https://crontab.guru/#*/15_*_*_*_*)

Edit  the cron using `sudo -u root crontab -e`

[2021-09-11 23:35] town3r opened #91 "Pi-hole FTL v5.9, Web v5.6 and Core v5.4 released"
https://pi-hole.net/2021/09/11/pi-hole-ftl-v5-9-web-v5-6-and-core-v5-4-released/

[2021-09-14 03:16] arevindh commented on #91
@town3r will update today.

[2021-09-16 02:19] flipptx commented on #91
did this get updated? i just ran update and i don't see the V numbers update yet

[2021-09-16 03:42] arevindh commented on #91
@flipptx Just merged now. Everything was ready I just needed to test some more .
@town3r Updated to latest version

[2021-09-16 03:43] arevindh commented on #91
@town3r @flipptx Let me know if you encounter any issues.

[2021-09-16 12:52] ChrisWNY commented on #91
Hey Sid - I've grabbed the latest admin repo. The version info is reported correctly, however there is a minor inconsistency in the Settings page...

https://github.com/pi-hole/AdminLTE/releases/v5.6

Per the release notes, it looks like the Adlists tab was supposed to be removed from Settings, but it's still showing up (after installing the latest admin repo). Not sure if this is the same using t

[2021-09-16 13:49] flipptx commented on #91
mine files to update...

Updating Pihole and Speedtest-mod
bash: line 20: git: command not found
bash: line 23: cd: /opt/pihole/: No such file or directory
--2021-09-16 13:47:51--  https://github.com/pi-hole/pi-hole/raw/master/advanced/Scripts/webpage.sh
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiti

[2021-09-16 14:45] town3r commented on #91
Thinking I uninstalled it wrong 5 days ago when i wanted to get the update right away.
Getting the following:
[code]
¯\_(ツ)_/¯

Using the update script seems to have worked tho.
```curl -sSL https://github.com/arevindh/pihole-speedtest/raw/master/update.sh | bash```

[2021-09-16 14:47] ChrisWNY commented on #91
Try rm -rf org_admin as root before running the manual update commands. If those backup directories are still there those commands will throw an error.

[2021-09-16 15:09] arevindh commented on #91
Will check it tomorrow. Thanks for the report.

[2021-09-17 15:43] arevindh commented on #82
`sudo pihole -a -sn` this thing is not working anymore ..

use `sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh" `

[2021-09-18 13:26] town3r commented on #91
Looks like pihole deva didn't get to it.

https://reddit.com/r/pihole/comments/pqj6ox/web_interface_56_still_showing_adlists_tab_on_the/

[2021-09-18 14:17] ChrisWNY commented on #91
^ Thanks for confirming. I never verified the 5.6 web UI (pi-hole default), but suspected unless some older PHP files were left in the speedtest admin repo, the problem was with the pi-hole web UI itself.

Sid - you can probably close this one out, I haven't run into any issues since updating a couple of days ago.

[2021-09-23 16:25] #91 closed

[2021-09-25 18:33] jgwehr opened #92 "Feature Request: Option (or replace speedtest with) Librespeed"
Like a few others, (#85 and #88) I've been having a LOT of trouble getting the speedtest-cli to install properly.

Rather than investing more time into this and in the interest of avoiding the bandwidth shaping Ookla is (probably) doing, would it make sense to offer alternatives such as https://github.com/librespeed/speedtest ?

[2021-09-25 18:38] jgwehr commented on #88
Thanks arevindh! One suggestion for your wiki:

At the moment it sends people to the faulty https://www.speedtest.net install instructions

[2021-09-25 18:42] jgwehr commented on #88
Following these instructions from the speedtest repo worked well for me:

[2021-09-26 01:49] arevindh commented on #88
@jgwehr python version is unreliable

[2021-09-26 02:06] arevindh commented on #92
Its simple check here https://github.com/arevindh/pihole-speedtest/wiki/Installing-Speedtest-Mod#install-speedtest-cli

[2021-09-26 02:14] arevindh commented on #88
@jgwehr The update instructions were not updated  Just updated now.

[2021-09-27 00:28] jgwehr commented on #92
@arevindh Yes, thanks! I meant for this to be more about Librespeed (or any other alternatives). But, in my specific case, those instructions routinely resulted in this error whenever I tried to run the speedtest:

https://unix.stackexchange.com/questions/644442/speedtest-cli-valueerror-invalid-literal-for-int-with-base-10

I've had this mod for a long time (again, thanks!) so I'm open to thinking

[2021-09-29 23:17] town3r opened #93 "Pi-hole FTL v5.10.1, Web v5.7 and Core v5.5 released"
https://pi-hole.net/2021/09/29/pi-hole-ftl-v5-10-web-v5-7-and-core-v5-5-released/

[2021-09-30 00:34] ChrisWNY commented on #93
Note that with web UI 5.7 those minor cosmetic adjustments were made - web UI version moved after FTL in the footer, and the adlists tab is gone from the Settings page (verified this after I updated via pihole-up).

[2021-10-01 13:41] #87 closed

[2021-10-01 13:41] #81 closed

[2021-10-02 14:21] ChrisWNY commented on #93
Looks like Sid updated the web UI. Seems to be working without issues!

[2021-10-02 16:27] arevindh commented on #93
@ChrisWNY yeah forgot to update here :)

[2021-10-02 16:28] arevindh commented on #93
@ChrisWNY @town3r
Do we need this one ? :  https://github.com/arevindh/pihole-speedtest/issues/92

[2021-10-02 17:27] ChrisWNY commented on #93
I haven't personally had issues using the official Ookla speedtest CLI (Rasp Pi 4b) - the Ookla version becomes problematic however if you install the python module, as that seems to run over the official CLI unless it's uninstalled.

[2021-10-24 15:07] ChrisWNY opened #94 "Pi-hole updated again - Core 5.6/FTL 5.11/Web 5.8"
Release notes for web v5.8:

https://github.com/pi-hole/AdminLTE/releases/tag/v5.8

[2021-10-24 23:23] #94 closed, assigned to nobody

[2021-12-19 21:48] niklaskoskowski opened #95 "Database Error"
Hi, when I run the sample command at the bottom of the instructions, I get the following Error:
table speedtest has 11 columns but 13 values were supplied

[2021-12-20 03:57] arevindh commented on #95
Can you specify which command you ran ?

[2021-12-22 22:08] ChrisWNY opened #96 "Pi-hole core, FTL, and web updated - 12/22/21"
Pi-hole version 5.7/FTL version 5.12/Web Interface version 5.9

https://github.com/pi-hole/pi-hole/releases/tag/v5.7

https://github.com/pi-hole/FTL/releases/v5.12

Numerous changes have been made to the Pi-hole web interface (v5.9):

https://github.com/pi-hole/AdminLTE/releases/v5.9

Just a heads-up as I'm sure the speedtest admin repo will need another update for this one. Thanks!

[2021-12-23 07:26] C-Fu opened #97 "Any docker image available?"
Please consider, thanks!

[2021-12-23 14:31] corasaniti commented on #97
@C-Fu You can perform the installation steps within the official Docker image.
And if you wish to commit your changes so that you have your Docker image modified.

[2021-12-23 15:21] corasaniti commented on #97
however I have many problems applying the installation in docker.
So I abandoned the mod.
I am very sorry because it is very beautiful
A docker image would therefore be welcome. please build docker image :-)
Thanks

[2021-12-23 15:28] arevindh commented on #97
@corasaniti It is getting updated every release.

[2021-12-23 18:33] corasaniti opened #98 "Unable to run and restart inside Docker container"
I have to report a serious error when applying the speedtest mod in the Docker version. Everything works perfectly but if I restart the container or restart my raspberry it doesn't work anymore.

The container starts but the web page is unreachable Here is the error log.
Please fix it because it is aamazing mods :-)
Thanks

[code]

[2021-12-23 18:40] gasb91 commented on #96
What happens if I update ?

[2021-12-23 20:19] ChrisWNY commented on #96
Follow the update instructions on the Github page...perfectly fine to update to the latest Core and FTL. The web portion will update as well and you won't see the speedtest graph but all of your data will remain intact. You can go ahead and grab the speedtest admin repo, Pi-hole will simply show that your web core is not up-to-date but Sid usually releases an update within a few days of a Pi-hole

[2021-12-26 05:37] arevindh commented on #96
@ChrisWNY working on the update.

[2021-12-26 05:45] arevindh commented on #96
@ChrisWNY @gasb91 Updated to the latest version, please mention if any problems occur.

[2021-12-26 06:53] arevindh commented on #97
@C-Fu I'm currently working on docker images. Might take a week .

[2021-12-26 13:45] arevindh commented on #97
Try this

[code]

[2021-12-26 13:53] corasaniti commented on #97
This Docker image (arevindh/pihole: v5.9) includes speedtest mod? But it's great thanks
Happy New Year...

[2021-12-26 14:45] arevindh commented on #97
Yes, first build, if things do not workout create a new ticket

[2021-12-26 14:54] ChrisWNY commented on #96
Looks good! New version info properly displayed, the new Pi-hole web UI templates, etc. all seem to work. No issues. Thanks!

[2021-12-26 14:54] #96 closed

[2021-12-27 07:35] corasaniti commented on #97
Hi,
seems to work well I will keep it monitored for a few days.
Congratulations

[2021-12-27 08:18] corasaniti commented on #98
We now have a Docker image available.

Look here
https://github.com/arevindh/pihole-speedtest/issues/97

Thank you

[2021-12-27 08:18] #98 closed

[2021-12-27 14:05] corasaniti commented on #97
I'd like to set the time zone to Europe/Rome. I entered it as a parameter in the docker-compose

`TZ: 'Europe/Rome' `

but the graph is always one hour behind the time in Rome.
How can I do? Thank you

[2021-12-28 01:23] arevindh commented on #97
@corasaniti please create separate issue for this, it will be easier to track for me.

[2021-12-28 01:23] #97 closed

[2021-12-28 06:53] corasaniti opened #99 "Unable set timezone"
I'd like to set the time zone to Europe/Rome. I entered it as a parameter in the docker-compose

TZ: 'Europe/Rome'

but the graph is always one hour behind the time in Rome.
How can I do?
Thank you

[2021-12-28 16:08] arevindh commented on #99
Is your Timezone observing DST ?

[2021-12-28 17:15] corasaniti commented on #99
no my time zone observes solar time The time in Rome is 18.15

[2022-01-05 20:37] xnetworker opened #100 "Fehler Installation sqlite"
Ich erhalte beim installieren von sqlite folgende Meldung:

pi@raspberrypi:~ $ php -v
PHP 7.4.25 (cli) (built: Oct 23 2021 21:53:50) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with Zend OPcache v7.4.25, Copyright (c), by Zend Technologies
pi@raspberrypi:~ $ sudo apt install php7.4.25-sqlite
Reading package lists... Done
Building dependency tree... D

[2022-01-06 05:49] arevindh commented on #100
Verwenden Sie einfach `sudo apt install php7.4-sqlite` . `.25` ist eine Nebenversion und wird nicht benötigt.

[2022-01-06 05:53] xnetworker commented on #100
Das gleiche:
`pi@raspberrypi:~ $ sudo apt install php7.4-sqlite
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
E: Unable to locate package php7.4-sqlite
E: Couldn't find any package by glob 'php7.4-sqlite'
`

[2022-01-06 05:54] arevindh commented on #100
Probier diese
`sudo apt install php7.4-sqlite3`

[2022-01-06 05:57] arevindh commented on #99
What about the pihole graph, is it correct ?

[2022-01-06 05:57] xnetworker commented on #100
Jetzt erscheint kein Fehler:

pi@raspberrypi:~ $ sudo apt install php7.4-sqlite3
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
php7.4-sqlite3 is already the newest version (7.4.25-1+deb11u1).
php7.4-sqlite3 set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.

RPI 4 + Raspbian OS light

[2022-01-06 05:58] arevindh commented on #100
Scheint bereits installiert zu sein, können Sie mit dem nächsten Schritt fortfahren.

[2022-01-06 06:00] xnetworker commented on #100
klappt. Vielen Dank

[2022-01-06 06:01] #100 closed

[2022-01-06 12:46] corasaniti commented on #99
Hi when you upgrade to
Pi-hole v5.8.1 FTL v5.13 Web Interface v5.10.1
Thank you

[2022-01-06 22:45] town3r opened #101 "Pi-hole FTL v5.13, Web v5.10 and Core v5.8 released"

[2022-01-06 23:55] ChrisWNY commented on #101
Note that there were minor point releases since this post - the versions are as follows:

Pi-hole v5.8.1 FTL v5.13 Web Interface v5.10.1

[2022-01-07 10:58] xnetworker opened #102 "Error on web interface due to installation"
The installation generates an error in the Pi-Hole web interface.

![Bildschirmfoto 2022-01-07 um 11 54 49](https://user-images.githubusercontent.com/96077358/148534190-b8213490-a48c-4396-8868-aa4ac441be7e.png)

It indicates an update. After executing pihole -up I get the message that everything is up to date. There is also no speed test carried out.
![Bildschirmfoto 2022-01-07 um 12 46 29](https:

[2022-01-07 12:13] arevindh commented on #102
@xnetworker The version still needs to be updated for this mod (Last updates are listed [here ](https://github.com/arevindh/pihole-speedtest/blob/master/README.md)).
Once the mod is updated you can follow [this](https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod).update procedure.

[2022-01-07 12:14] arevindh commented on #101
@town3r @ChrisWNY will update tomorrow.

[2022-01-07 14:40] IDemixI commented on #101
@arevindh - Just a heads up. In the latest version of the Web interface, the command `pihole status web` now returns a handful of different statuses. Before, I believe it was either 1, 0, -1 or "other". Now the standard output to display the pihole status as active is 53 (the port the DNS Service is running on). Code block below:

`                    <?php
                    $pistatus = pihole_e

[2022-01-07 15:55] arevindh commented on #101
@IDemixI @town3r @ChrisWNY something is wrong with pihole codebase, please don't update now.

[2022-01-07 15:58] ChrisWNY commented on #101
What are the issues with the new Pi-hole code base? I've been running the current speedtest admin repot with Pi-hole core v5.8.1 and FTL 5.13 with no apparent issues.

[2022-01-07 16:02] arevindh commented on #102
I have the same issue , will post once I find a solution

[2022-01-07 16:03] arevindh commented on #101
@ChrisWNY
[code]

[2022-01-07 16:03] arevindh commented on #101
`dnsmasq` no longer starts.

[2022-01-07 16:04] arevindh commented on #101
also #102

[2022-01-07 18:04] ChrisWNY commented on #101
Ok I see the issue now...if you UPDATE to the latest Pi-hole admin repo, and just not use the speedtest repo, the pi-hole error goes away. I've taken a screenshot to show my instance...the speedtest admin repo is not currently installed but Pi-hole is working fine without it.

![image](https://user-images.githubusercontent.com/65196976/148587187-116887d1-9e9d-4e3a-9149-beabd71e6214.png)

[2022-01-07 18:07] ChrisWNY commented on #102
If you update to the latest pi-hole admin repo, this error message will go away and pi-hole will run just fine. You'll have to avoid installing the speedtest admin repo until Sid updates it.

![image](https://user-images.githubusercontent.com/65196976/148587526-81c14273-4b06-4aea-8c40-ae16aba1b0e5.png)

[2022-01-07 19:37] arevindh commented on #101
The repo is updated, can you check now @ChrisWNY

[2022-01-07 22:27] town3r commented on #101
Seems to be working again for myself!

[2022-01-07 22:33] ChrisWNY commented on #101
Just downloaded the latest speedtest repo...no issues, seems to be working great!

[2022-01-07 22:35] IDemixI commented on #101
Thanks, @arevindh.
That's working perfectly again now!

[2022-01-08 01:30] flipptx commented on #101
so is it safe to update?

[2022-01-09 07:39] xnetworker commented on #102
Now, the automatic speed test is not working. When I start over the shell it runs.

[2022-01-10 04:30] arevindh commented on #102
Can you try changing the period ?

[2022-01-10 04:30] arevindh commented on #101
Yes

[2022-01-10 04:30] #101 closed

[2022-01-10 05:37] xnetworker commented on #102
I don't understand

[2022-01-11 04:48] arevindh commented on #102
Change this to something else and try.
![image](https://user-images.githubusercontent.com/693151/148882815-ff0e7ed1-139e-41d2-a2bc-43e56be1f437.png)

[2022-01-11 05:54] xnetworker commented on #102
The same:
`pi@raspberrypi:~ $ sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"
Testing with
2022-01-11 06:53:14	2022-01-11 06:53:40	Deutsche Telekom AG	xxx.xxx.xxxx.xxx	IBH IT-Service GmbH	0	6.14	223,371	112,523	https://www.speedtest.net/result/c/890c4cf7-d461-4885-a579-a3574a3b6f7a
Error: table speedtest has 11 columns but 13 values were supplied`

[2022-01-11 06:16] arevindh commented on #102
Is it a new install or an old one ?

Make sure that official CLI is selected
![image](https://user-images.githubusercontent.com/693151/148890698-d7272279-8a49-437a-8341-0cf69ebfb4ce.png)

If nothing fixes the issue, select `Flush Speedtest history` and click save (Warning this will delete your speedtest history).

[2022-01-11 06:56] xnetworker commented on #102
I have already carried out the recommendations several times.  it's a fresh install

[2022-01-12 02:20] arevindh commented on #102
Can you post the output of

1. `tail -5  /var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh`
2.  `cd /var/www/html/admin/ && git rev-parse HEAD`

[2022-01-12 05:31] xnetworker commented on #102
`tail -5 /var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh`

`3685a760084270a6a78af22538146f1e36edb274`

[2022-01-12 05:32] xnetworker commented on #102
`printf "$quote$start$sep$stop$sep$isp$sep$from_ip$sep$server_name$sep$server_dist$sep$server_ping$sep$download$sep$upload$sep$share_url$quote\n"

    sqlite3 /etc/pihole/speedtest.db  "insert into speedtest values (NULL, '${start}', '${stop}', '${isp}', '${from_ip}', '${server_name}', ${server_dist}, ${server_ping}, ${download}, ${upload}, '${share_url}');"`

`3685a760084270a6a78af22538146f1e36ed

[2022-01-12 05:33] xnetworker commented on #102
1.
printf "$quote$start$sep$stop$sep$isp$sep$from_ip$sep$server_name$sep$server_dist$sep$server_ping$sep$download$sep$upload$sep$share_url$quote\n"

    sqlite3 /etc/pihole/speedtest.db  "insert into speedtest values (NULL, '${start}', '${stop}', '${isp}', '${from_ip}', '${server_name}', ${server_dist}, ${server_ping}, ${download}, ${upload}, '${share_url}');"
fi

2.
3685a760084270a6a78af22538146f

[2022-01-13 03:22] arevindh commented on #102
Seems there are additional quotes being added to the query.

[2022-01-13 03:25] arevindh commented on #102
Please post the output of `/usr/bin/speedtest --accept-gdpr --accept-license -f json-pretty` , remember to remove all personally identifiable information.

[2022-01-14 14:05] town3r opened #103 "Upgrading Speedtest chart to Chart.js"
It would be really cool if it was possible to upgrade/switch the current Speedtest chart over to Chart.js to mirror the look and feel of the other PiHole graphs.

Not sure how hard that would be.

https://www.chartjs.org/

[2022-01-14 14:11] town3r opened #104 "Speedtest Display Range labels"
It would be nice if the `1 Days` option was `24 hours` to match the wording of total queries and client activity on the dashboard.

I was able to find and modify `settings.php` so that 1 Days is now 24 Hours in Settings but have been unable to figure out which file controls the chart title on the main dashboard.

[2022-01-17 13:37] xnetworker commented on #102
Is there a solution yet?

[2022-01-17 14:32] arevindh commented on #102
I wasn't able to re-create your issue from my side. As a last try can you try editing the last line of

` /var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh`

from

`sqlite3 /etc/pihole/speedtest.db  "insert into speedtest values (NULL, '${start}', '${stop}', '${isp}', '${from_ip}', '${server_name}', ${server_dist}, ${server_ping}, ${download}, ${upload}, '${share_url}');"`

to

e

[2022-01-17 16:08] xnetworker commented on #102
pi@raspberrypi:~ $ sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"
Testing with
2022-01-17 17:07:06	2022-01-17 17:07:20	Deutsche Telekom AG	xxx.xxx.xxx.xx	IBH IT-Service GmbH	0	6.381	535,719	116,308	https://www.speedtest.net/result/c/0aa700e1-6151-4c64-9c35-fdf0f979a654
insert into speedtest values (NULL, '2022-01-17 17:07:06', '2022-01-17 17:07:20', 'Deutsche Telekom AG

[2022-01-18 02:21] arevindh commented on #102
Seems like upload and download values doubled. Can you show me the speed-test config page too ?

[2022-01-18 02:35] arevindh commented on #102
@xnetworker can you try this fix ?

https://github.com/arevindh/AdminLTE/pull/46/files

[2022-01-18 02:37] arevindh commented on #102
@ChrisWNY @xnetworker  Can you help me with your speed-test cli version ??
`/usr/bin/speedtest --version`

[2022-01-18 06:03] xnetworker commented on #102
pi@raspberrypi:~ $ /usr/bin/speedtest --version
Speedtest by Ookla 1.0.0.2 (5ae238b) Linux/arm-linux-musleabihf 5.10.63-v7l+ arm/armv7l

[2022-01-18 06:09] xnetworker commented on #102
pi@raspberrypi:~ $ sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"
Testing with
2022-01-18 07:08:22	2022-01-18 07:08:37	Deutsche Telekom AG	xx.xxx.xxx.xx	IBH IT-Service GmbH	0	6.702	203,191	112,345	https://www.speedtest.net/result/c/d08c05b6-77f3-4d6a-9e62-57dbd153a23d
insert into speedtest values (NULL, '2022-01-18 07:08:22', '2022-01-18 07:08:37', 'Deutsche Telekom AG'

[2022-01-18 08:18] arevindh commented on #102
Please include `/usr/bin/speedtest --accept-gdpr --accept-license -f json-pretty --unit B/s ` result as text

[2022-01-18 08:18] arevindh commented on #102
Can you add result of `/usr/bin/speedtest --accept-gdpr --accept-license -f json-pretty --unit B/s `

[2022-01-18 10:13] xnetworker commented on #102
***@***.***:~ $ sudo /usr/bin/speedtest --accept-gdpr --accept-license -f json-pretty --unit B/s
{
    "type": "result",
    "timestamp": "2022-01-18T10:11:38Z",
    "ping": {
        "jitter": 0.26300000000000001,
        "latency": 10.613
    },
    "download": {
        "bandwidth": 66788956,
        "bytes": 479884320,
        "elapsed": 7216
    },
    "upload": {
        "bandwidth": 1397887

[2022-01-18 13:20] arevindh commented on #102
`echo '139515470' |  awk '{$1=$1*8/1000/1000; print $1;}'`

Please add your timezone and locate information too

[2022-01-18 13:33] xnetworker commented on #102
The right time zone was set.

root@raspberrypi:/home/sudo dpkg-reconfigure tzdata

Current default time zone: 'Europe/Berlin'
Local time is now:      Tue Jan 18 14:32:32 CET 2022.
Universal Time is now:  Tue Jan 18 13:32:32 UTC 2022.

[2022-01-18 13:35] arevindh commented on #102
And the output of the above code line ?

[2022-01-18 13:36] xnetworker commented on #102
root@raspberrypi:/home/pi# echo '139515470' | awk '{$1=$1*8/1000/1000; print $1;}'
1116,12

[2022-01-18 14:56] ChrisWNY commented on #102
Sorry for the late reply -

speedtest --version
Speedtest by Ookla 1.0.0.2 (5ae238b) Linux/arm-linux-musleabihf 5.10.90-v7l+ arm/armv7l

The official command line client for testing the speed and performance
of your internet connection.

[2022-01-18 15:00] arevindh commented on #102
Yeah this is the problem, give me some time to figure out how to replicate it in my side . Then I can search for the fix .

[2022-01-18 15:04] arevindh commented on #102
`sudo update-locale LC_NUMERIC="en_GB.UTF-8` try restarting after this

[2022-01-18 15:39] xnetworker commented on #102
***@***.***:~ $ sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"
Testing with
2022-01-18 16:37:42	2022-01-18 16:38:04	Deutsche Telekom AG	xx.xxx.xxx.xx	Stadtwerke Finsterwalde	0	30.213	537,39	110,754	https://www.speedtest.net/result/c/4fbb10d3-4571-406e-a35d-ff2fcc4ebf05
insert into speedtest values (NULL, '2022-01-18 16:37:42', '2022-01-18 16:38:04', 'Deutsche Telekom AG

[2022-01-21 06:57] xnetworker commented on #102
Do you still work on an adjustment or do I have anything else?

[2022-01-23 09:20] arevindh commented on #102
@xnetworker Was a bit busy with office work, will checkout it soon.

[2022-01-24 16:41] amorshc commented on #86
Adding to this.  I would like to see labels on the sides for Ping vs Speed.  As you can clearly see my graph looks a bit weird because normally it's pretty steady, but when a huge spike in ping occurs, it throws the graph all funky.

![image](https://user-images.githubusercontent.com/23526787/150825483-a31be0e6-0331-4842-87ce-dd427e0090f2.png)

[2022-02-02 19:08] xnetworker commented on #102
@arevindh  Have you found time to fix the error?

[2022-02-12 21:44] town3r opened #105 "Pi-hole FTL v5.14, Web v5.11 and Core v5.9 released"
https://pi-hole.net/blog/2022/02/12/pi-hole-ftl-v5-14-web-v5-11-and-core-v5-9-released/

[2022-02-13 15:25] corasaniti commented on #105
when you plan to upgrade to versions
Pi-hole v5.9 FTL v5.14 Web Interface v5.11
Thanks in advance

[2022-02-15 15:17] corasaniti commented on #105
Can I perform the pihole-up update even inside a container?
If I then remove and delete the container do I lose the changes that have not persisted in the docker image?
Thanks

[2022-02-15 16:30] ChrisWNY commented on #105
Docker images/builds would have to be maintained and updated as the software components themselves are updated. So if there's a new version of software available that's part of your docker image you'd have to also wait on the maintainer to update that image file.

[2022-02-15 18:13] arevindh commented on #105
@town3r @ChrisWNY @corasaniti
Will update tomorrow.

[2022-02-16 12:42] arevindh commented on #105
@town3r @ChrisWNY Updated, please let me know after testing

[2022-02-16 13:09] arevindh commented on #105
@corasaniti docker image also updated, please check and confirm

[2022-02-16 14:25] town3r commented on #105
Thanks for the quick turn around.

Looks good so far!

Now if only the dashboard graph for Speedtest matched the others in the `Star Trek LCARS theme (dark)` theme. ;-)
![image](https://user-images.githubusercontent.com/12396203/154284683-97949174-03b6-473e-81f0-6b0be74b5e14.png)

[2022-02-16 15:41] arevindh commented on #105
@corasaniti docker image has some issues , please don't update now.

[2022-02-16 15:42] arevindh commented on #105
Let me try what I can do this weekend.

[2022-02-16 16:52] corasaniti commented on #105
@arevindh Docker container works great. You have been very kind
Thank you :-)

[2022-02-16 20:50] town3r opened #106 "Star Trek LCARS theme (dark) Support"
If only the dashboard graph for Speedtest matched the others in the `Star Trek LCARS theme (dark)` theme.

![image](https://user-images.githubusercontent.com/12396203/154284683-97949174-03b6-473e-81f0-6b0be74b5e14.png)

_Originally posted by @town3r in https://github.com/arevindh/pihole-speedtest/issues/105#issuecomment-1041545391_

[2022-02-16 20:50] town3r commented on #105
done! https://github.com/arevindh/pihole-speedtest/issues/106

[2022-02-17 13:52] #105 closed

[2022-02-17 13:53] arevindh commented on #103
Already using chartjs.
Closing in favor of #106

[2022-02-17 13:53] #103 closed

[2022-02-17 13:55] #99 closed

[2022-02-17 13:56] #90 closed

[2022-02-17 13:57] #95 closed

[2022-02-17 13:57] #88 closed

[2022-02-20 07:22] xnetworker commented on #102
What's going on? No more feedback?

[2022-02-20 13:03] arevindh commented on #106
@town3r What colors do you prefer for this theme?

[2022-02-20 13:33] arevindh commented on #106
![image](https://user-images.githubusercontent.com/693151/154845099-216a2941-1174-4051-b3ae-61222233db3e.png)
@town3r  Like this ?

[2022-02-20 15:43] town3r commented on #106
Ohh that looks great!

[2022-02-21 17:18] arevindh commented on #106
@town3r can you update and check?

[2022-02-21 17:19] arevindh commented on #86
@amorshc added a new update to enable labels .

[2022-02-21 17:20] #85 closed

[2022-02-21 17:50] amorshc commented on #86
Looks great!  I love the functionality of this, and appreciate you adding the labels!

[2022-02-21 21:02] town3r commented on #106
Looks good.

Only think I'd say is the spacing between at the bottom seems a bit much.

Would also be cool if the graph could have likes for every hour if range is small enough like the last 24 hours setting.

![image](https://user-images.githubusercontent.com/12396203/155025799-7bde7f81-13a9-44da-89ee-4a0b667b064b.png)

[2022-02-22 05:44] arevindh commented on #84
@ChrisWNY should remove the drop-down picker and add a text field that accepts crontab?

[2022-02-22 06:01] #12 closed

[2022-02-22 20:47] ChrisWNY commented on #84
@arevindh the drop-down is definitely the more user-friendly option, maybe and "advanced" collapsible UI element that would allow someone to input a schedule in proper crontab format?

[2022-02-28 21:27] #92 closed

[2022-02-28 21:27] #72 closed

[2022-02-28 21:27] #64 closed

[2022-02-28 21:27] #70 closed

[2022-02-28 21:27] #57 closed

[2022-02-28 21:27] #27 closed

[2022-02-28 21:27] #30 closed

[2022-02-28 21:37] town3r commented on #72
Can this be reopened?

[2022-03-03 02:06] #102 closed

[2022-03-05 16:01] Falconcrest opened #107 "Problem with displaying the correctly web version(AdminLTE) of pi-hole when using PADD and speedtest mod"
Hello,

first of all the speedtest mod is a small, but nice feature for pi-hole.
Unfortunately, I personally have a problem with it. I also use PADD and after installing the mod, I see another web version of pi-hole.
In my current case it is version 5.11.1 and no longer 5.11 as in the original.
PADD therefore warns: updates are available.
It's only a "cosmetic" problem, I know I've changed somethi

[2022-03-08 04:49] arevindh commented on #107
@Falconcrest try updating both, let me know if it fixes the issue.
5.11.1 is released due to a major change in speedtest mod codebase.

[2022-03-08 06:09] Falconcrest commented on #107
@arevindh Did I understand you correctly, I should update PADD and Speedtest mod again?
But Pi-Hole and PADD were up to date when I installed the last version of speedtest mod!

[2022-03-08 06:17] arevindh commented on #107
@Falconcrest yes, please try it
https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod

[2022-03-09 10:44] xnetworker opened #108 "Export function measurement results"
Is the option to integrate a function to export the measurement results into excel?

[2022-03-10 01:10] arevindh commented on #107
@Falconcrest Found the issue, working on it.

[2022-03-10 01:47] arevindh commented on #107
@Falconcrest try this
[code]

[2022-03-10 04:55] Falconcrest commented on #107
@arevindh OK, it works. I still had to use wget, but now the display is correct. Is this a temporary fix that I then have to run every time? Thank you very much for your effort.

[2022-03-14 19:21] arevindh commented on #107
@Falconcrest that's weird. How did you install pihole?
Anyway the issue will be fixed with next version for pihole front end

[2022-03-14 21:10] Falconcrest commented on #107
@arevindh The system is DietPi, based on Debian. There you can select and install Pi-hole from a software pool. But ok, I'm waiting for the next version. Thanks!

[2022-03-17 01:26] arevindh commented on #107
@Falconcrest seems like dietpi handles installs in their own way, thay might be just deleting the entire codebase and re downloading from git. You can try switching to normal installation using the bash script provided by pihole.

[2022-03-17 11:56] Falconcrest commented on #107
@arevindh After installing the latest update from speedtest mod, the display in PADD and Pi-hole is even more confusing.

`root@pihole:~# pihole -v
  Pi-hole version is v5.9 (Latest: v5.9)
  AdminLTE version is v5.11.1-2-gf82e5843 (Latest: v5.11)
  FTL version is v5.14 (Latest: v5.14)`

Pi-hole® v5.9, Web v5.11.1-2-825843, FTL v5.14, PADD v3.6.6
[✓] Core  [✓] FTL   [i] Updates are available.

[2022-03-17 12:07] arevindh commented on #107
Added more change today (Just published release today)
[code]

[2022-03-17 12:25] Falconcrest commented on #107
@arevindh Yes, this only causes a temporary correction. After a reboot the status was back to the previous one.

But after running

`curl -sSL https://github.com/arevindh/pihole-speedtest/raw/master/update.sh | bash`

the display was almost correct again, except for the known issue with Web v5.11.1.

[2022-03-17 12:47] arevindh commented on #107
@Falconcrest that will be fixed in the next release since.

[2022-03-17 12:58] Falconcrest commented on #107
@arevindh Very good, I'll report then...

I also once made a request in the DietPi forum, maybe someone there has an idea.

[2022-03-17 13:33] arevindh commented on #107
@Falconcrest Try this, I just deleted and created new tag

[code]

[code]

[2022-03-17 13:38] arevindh commented on #107
Oops, you were using this update command, the command wasn't updated to fix this issue (the change was specifically for your use case ). Any way now I added it to the update script.

[2022-03-17 14:29] town3r commented on #107
Not sure if this is related to the update you made but I’m getting the following when running the Update command.

[code]

[2022-03-17 14:53] Falconcrest commented on #107
@arevindh & @town3r
Sorry, I had the same error too, I didn't mention it and then did some steps again manually.
I just ran the script again and it works correctly.

[2022-03-17 18:07] arevindh commented on #107
Closing this issue

[2022-03-17 18:07] #107 closed

[2022-03-17 18:09] #106 closed

[2022-03-17 18:09] #86 closed

[2022-03-18 09:07] arevindh commented on #108
@xnetworker

[code]
Open `http://<pihole-ip>/admin/api.php?csv-export=1` while after login (Also available from Speedtest tab).

Will `not` be merged until the next release of pihole.

[2022-03-22 04:54] 0xspade opened #110 "BackUp"
Is it possible to include the speedtest.db in the backup in `/admin/settings.php?tab=teleporter`?

[2022-03-22 14:13] arevindh commented on #110
Cannot override the default functionality, if you are looking for way to export data. Check open issues

[2022-04-20 22:13] town3r opened #111 "Pi-hole FTL v5.15, Web v5.12 and Core v5.10 released"
https://pi-hole.net/blog/2022/04/20/pi-hole-ftl-v5-15-web-v5-12-and-core-v5-10-released/

[2022-04-21 02:44] ChrisWNY commented on #111
It's worth noting the new pi-hole Web Interface includes fixes for pi-hole spamming syslog...definitely look forward to the speedtest admin repo being updated.

[2022-04-21 04:12] arevindh commented on #111
@town3r @ChrisWNY update
So many changes : https://github.com/arevindh/AdminLTE/pull/55

[2022-04-21 10:23] ChrisWNY commented on #111
It's definitely a substantial update...this one had been a problem since mid Feb 2022...

https://github.com/pi-hole/AdminLTE/pull/2126

piholeStatus constantly throws syslog messages into www-data, of course most users probably wouldn't notice, unless they're running remote syslog (I certainly do), or they notice SD card failure in their Raspberry Pi's earlier than usual.

[2022-04-21 13:57] town3r commented on #111
Yikes I didn't know Pi-hole was doing that. I've been running into some strange issues that might point to an issue with my SD card. :(

Any good tools to verify if the card is the cause?

[2022-04-21 16:00] bentkowski commented on #111
seems like pihole -up does not update web interface :) i have speedtest mod, any ideas how to update it to new version and have speedtestmod installed?

[2022-04-21 16:48] ChrisWNY commented on #111
It's best to plan on replacing your SD card every 12-16 months, if you leave it in there beyond that you risk problems. The first sign of problems will be write speeds will slow way down. It's a good idea to use Teleport occasionally within the pi-hole settings to back up your config, in case your SD card goes bad to the point where your Pi no longer boots. I just replaced my SD card last week...w

[2022-04-21 16:51] ChrisWNY commented on #111
You can run the latest Pi-hole core and FTL using the older speedtest web admin UI. The 3 components of pi-hole (core, FTL, web) are modular, you can update any one or two and run an older version of one of the components with minimal negative impact. In my experience, running a slightly older Web UI hasn't caused any problems. Once Sid updates speedtest, you can follow the update instructions and

[2022-04-21 17:29] bentkowski commented on #111
![obraz](https://user-images.githubusercontent.com/36965674/164516284-e7975d0e-5abf-49eb-a94f-ddd7201c8ddf.png)
![obraz](https://user-images.githubusercontent.com/36965674/164517197-cbf3279c-9d7f-42b0-b229-e53236791d50.png)

This is same machine, im wondering how to update this and i think i will wait for tommorow as arevindh said

[2022-04-22 13:34] ChrisWNY commented on #111
Forgot to mention that your other option is to simply use an external USB SSD drive (most Raspberry Pi 4b's have USB boot enabled by default). It's much faster and much longer-lasting than SD memory. If you do go the SSD route, buy an externally powered docking station for it (like Sabrent), as SSD drives draw more power than typical USB peripherals.

[2022-04-22 13:51] arevindh commented on #111
@ChrisWNY @town3r @bentkowski Please update and check

[2022-04-22 14:04] town3r commented on #111
Side note, where can I change the `Speedtest Results Over Last 1 Days` text?

I'd like to change it to `Speedtest Results Over Last 24 Hours` to match the other graphs

[2022-04-22 14:06] ChrisWNY commented on #111
![image](https://user-images.githubusercontent.com/65196976/164730772-8ea977fc-12a5-4b20-b795-a64fe0f194b1.png)

[2022-04-22 14:46] arevindh commented on #111
@town3r let me try this weekend

[2022-04-22 16:41] bentkowski commented on #111
looks good:)

[2022-04-24 08:44] corasaniti commented on #111
@arevindh when you push the new version to docker hub

Pi-hole FTL v5.15, Web v5.12 and Core v5.10
https://hub.docker.com/r/arevindh/pihole/tags

Thanks

[2022-04-24 21:05] corasaniti commented on #111
Thanks for push docker image on Dockerhub
https://hub.docker.com/r/arevindh/pihole/tags
👍

[2022-04-24 21:29] #104 closed

[2022-04-30 21:30] #84 closed

[2022-05-16 02:13] tehmessiah75 opened #112 "speed test displayed on home page"
I am new to GitHub and wasn't sure how to post a request.
Is it possible to display the speed test graph on the home page of Pi-Hole so I dont have to log in to see the results?

[2022-05-20 03:54] tehmessiah75 opened #113 "nothing running in Pi-Hole"
Hi,
I just did a fresh install on a new SD card and I can see the graph and have successfully ran a speed test in CMDLINE but nothing is running automatically.
I set it to run every hour and display the graph in weekly format but it has been running for 2hrs but the only result in the graph is my CMDLINE test.

[2022-05-20 04:10] arevindh commented on #113
@tehmessiah75 which os are you using?

[2022-05-20 04:11] arevindh commented on #113
Also the results of

sudo -u root crontab -e

[2022-05-20 04:21] tehmessiah75 commented on #113
I am using raspbian lite Bullseye 32bit

sudo -u root crontab -e
0 */1 * * * sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"  > /dev/null 2>&1

I think I discovered the issue though. I missed a step where I have to change it from Python to cmdline :/
I'm just waiting for 10 min for the next hour to tick over.

For the Crontab would I put "30 * * * * "Blah" for it to run

[2022-05-21 05:31] arevindh commented on #113
Check https://github.com/arevindh/pihole-speedtest/issues/90

[2022-05-21 05:31] #113 closed

[2022-05-21 05:33] arevindh commented on #108
Merged

[2022-05-21 05:33] #108 closed

[2022-05-21 05:33] arevindh commented on #110
Export functionality is available
https://github.com/arevindh/pihole-speedtest/issues/108

[2022-05-21 05:33] #110 closed

[2022-07-07 20:18] town3r opened #114 "Pi-hole FTL v5.16, Web v5.13 and Core v5.11.1 released"
https://pi-hole.net/blog/2022/07/07/pi-hole-ftl-v5-16-web-v5-13-and-core-v5-11-1-released/#page-content

[2022-07-08 15:49] bentkowski commented on #114
actually its 5.11.3 now :D

[2022-07-08 17:12] arevindh commented on #114
Will do it tomorrow

[2022-07-09 09:39] arevindh commented on #114
Testing the new update will release later today after a few tests

[2022-07-09 18:55] arevindh commented on #114
@town3r @bentkowski update compete, please let me know if any you find any issues

[2022-07-09 21:21] corasaniti commented on #114
Hi @arevindh,
why you not build and push your updated image to docker hub?
It's been some months old .... :-(. It would be great if you did a new build for Docker
Thanks

[2022-07-10 01:49] ChrisWNY commented on #114
Update is good to go - no issues so far. Thanks for the quick updates!

[2022-07-11 05:03] arevindh commented on #114
The problem is I don't have a way to test the docker containers.
Anyway I have pushed to version to docker hub `2022.07.1` (Not tested)

[2022-07-11 06:39] corasaniti commented on #114
@arevindh
I'll try it this evening and let you know ...
Thanks

[2022-07-11 06:50] corasaniti commented on #114
Everything works fine but pihole core the latest version is 5.11.4

Pi-hole v5.11.3 · **Update available!** FTL v5.16.1 Web Interface v5.13

https://github.com/pi-hole/pi-hole/releases/tag/v5.11.4

I believe you need to do a new build
Thanls

[2022-07-11 08:51] arevindh commented on #114
@corasaniti they again updated 😢

[2022-07-11 08:54] arevindh commented on #114
![image](https://user-images.githubusercontent.com/693151/178226430-241ec188-0181-4e2e-8d71-48dcdcd683ff.png)

[2022-07-11 08:58] arevindh commented on #114
@corasaniti updated

[2022-07-11 09:13] corasaniti commented on #114
Are you sure you have updated to the latest version of the core?
I still see 5.11.3
Pi-hole v5.11.3 · **Update available!**
Thank you

[2022-07-11 12:36] ChrisWNY commented on #114
The web interface was unchanged, so Sid's latest update should be fine if you just run pihole - up.

[2022-07-11 12:46] corasaniti commented on #114
pihole -up does not supported in docker images...

[2022-07-11 12:50] town3r commented on #114
Same here! Everything looks good :)

[2022-07-11 12:57] town3r commented on #114
@corasaniti I hope you're buying @arevindh a coffee for all the extra work required to support Docker. 😅

[2022-07-12 02:31] arevindh commented on #114
@corasaniti updated the build once more, please check

[2022-07-12 06:40] corasaniti commented on #114
@arevindh
Thanks, now the docker container is updated to the latest version. Thank you :-)

[2022-07-12 07:42] #114 closed

[2022-07-22 21:31] #112 closed

[2022-08-27 08:11] corasaniti opened #115 "Pi-hole v5.11.4 FTL v5.16.3 Web Interface v5.13 (FTL v5.16.3 upgrade is available)"
Hi, @arevindh

Pi-hole v5.11.4 FTL v5.16.3 Web Interface v5.13 and FTL v5.16.3 upgrade is available...
when are you able to upgrade?
Thanks in advance

[2022-08-27 08:24] arevindh commented on #115
@corasaniti did a fresh win11 install, I need to set up a few things. I will update it in 2 days.

[2022-08-27 09:56] SHelfinger commented on #115
`pihole up`

Should do the job, since FTL has nothing to do with speed test mod ;)

[2022-08-27 12:04] corasaniti commented on #115
@arevindh
Thanks I'll wait a few days

@SHelfinger
No pihole -up doesn't work in a Docker containerI'll wait a few days

[2022-08-27 13:24] corasaniti commented on #115
@arevindh
You may also include the DockerTag in your build :-)

[2022-08-29 03:40] arevindh commented on #115
Can you try image `arevindh/pihole:2022.08.2`

[2022-08-29 04:10] arevindh commented on #115
@corasaniti are you interested in testing one of my other projects?

https://hub.docker.com/r/arevindh/homelab-tracker

[2022-08-29 04:45] corasaniti commented on #115
@arevindh
Thanks this morning I will try it and let you know.
I will also try homelab-tracker
thanks again
:-)

[2022-08-29 07:14] corasaniti commented on #115
@arevindh
The tag `2002.08.2` seems to work correctly. .
I keep it monitored for a few days. In the meantime I have kept the old tag `2022.07.2` which I will then delete.
I'll let you know in a few days, so you can push the tag `2022.08.2` on the `latest `...
Thanks
PC

[2022-08-30 11:25] corasaniti commented on #115
I'm sorry to inform you that the new `docker tag 2022.08.3` has been released.
You should do a new build :-(
Thank you

[2022-09-01 11:17] arevindh commented on #115
@arevindh check 2022.08.3

[2022-09-01 14:44] corasaniti commented on #115
@arevindh
It works perfectly.
Wait a few days to make sure a new tag is not released and then you can push the tag `2022.08.3` to the last branch
Thanks

[2022-09-03 01:30] ChrisWNY opened #116 "Pi-hole 5.12/FTL 5.17/Web 5.14.1 released today"
https://github.com/pi-hole/AdminLTE/releases/tag/v5.14.1 - ADMIN LTE

https://github.com/pi-hole/pi-hole/releases/tag/v5.12 - Pi-Hole core

https://github.com/pi-hole/FTL/releases/tag/v5.17 - FTL v5.17

[2022-09-03 06:45] arevindh commented on #116
Thats a lot of conflicts 😞
![image](https://user-images.githubusercontent.com/693151/188259200-aea5843d-00eb-40e0-a44b-38bd387ffc5d.png)

[2022-09-03 15:45] ChrisWNY commented on #116
I thought about that when I read the changelog...lots of changes to the Pi-hole AdminLTE in the latest update.

[2022-09-04 04:27] #115 closed

[2022-09-04 04:27] arevindh commented on #116
@ChrisWNY can you try updating ?

[2022-09-04 08:09] corasaniti commented on #115
A new tag `2022.09.1` is now available :-(
Sorry but you should do a new build
Thanks

[2022-09-04 09:13] arevindh commented on #115
@corasaniti build is already there, just try it and let me know if everything is fine

[2022-09-04 09:14] arevindh commented on #115
https://hub.docker.com/layers/arevindh/pihole/2022.09.1/images/sha256-d768bb9167f0da0322d580b17ef225aa6423fe9626baa0b1e0e418ac028ef668?context=repo

[2022-09-04 23:42] ChrisWNY commented on #116
Looks good - updated, but now pi-hole is up to Admin LTE 5.14.2.

https://github.com/pi-hole/AdminLTE/releases/tag/v5.14.2

This time the change log is much smaller.

[2022-09-05 15:00] arevindh commented on #116
@ChrisWNY can you try updating?

[2022-09-05 15:07] arevindh commented on #116
Try this `pihole updatechecker local`

[2022-09-05 15:09] ChrisWNY commented on #116
Same result - I have a local script I use to update (just has the commands on your website), pihole updatechecker local is always the last command run after the update is pulled.

[2022-09-05 15:14] ChrisWNY commented on #116
Just re-ran the update script and it looks like everything is good to go!

[2022-09-05 15:19] ChrisWNY commented on #116
I'll close this one - thanks for the quick updates as always!

[2022-09-05 15:19] #116 closed

[2022-09-05 19:17] corasaniti commented on #115
Unfortunately A new tag `2022.09.2` is now available :-(
[https://hub.docker.com/layers/pihole/pihole/2022.09.2/images/sha256-533523ece86c4b45d0944c754e31521f8dd1e904da12531bfc0e46ff241ae721?context=explore](url)
Sorry but you should do a new build
Thanks

[2022-09-05 19:36] corasaniti commented on #115
@arevindh
Hi, sorry I saw you updated to the version.

`Pi-hole v5.12 FTL v5.17 Web Interface v5.14.2`

However it would be better if you created the new `2022.09.2` tag because the older versions are included in the `20222.09.2` tag so you don't get confused.
Alternatively you could push that version to the last branch.
Thanks

[2022-09-06 01:42] arevindh commented on #115
Already Updated to the existing version, since they may release new one.
Btw please create a new ticket instead of closed ones.

[2022-09-06 03:05] 0xspade opened #117 "Pihole WEB update"
Looks like there is an update after pihole web 5.14.1

[2022-09-06 03:47] arevindh commented on #117
Pushed the update couple of hours ago, please follow the update procedure again

[2022-09-06 04:53] corasaniti opened #118 "Tags and versions Alignment with official Pihole"
@arevindh

Hi, the latest updated versions `Pi-hole v5.12 FTL v5.17 Web Interface v5.14.2` are included in the docker `tag 2022.09.2`, while you build them inside the `tag 2022.09.1`.

You should replace the `tag 2022.09.1` with the latest official available `2022.09.2` in order not to get confused, or create a new `tag  2022.09.2` with the latest versions already released.
Thanks

[2022-09-06 05:13] arevindh commented on #118
@corasaniti created a new build for `2022.09.2` with tag `dev-2022.09.2`
Let me know if its good for release

[2022-09-06 06:24] #117 closed

[2022-09-14 01:43] #118 closed

[2022-09-14 20:46] town3r opened #119 "Pi-hole FTL v5.18, Web v5.15 and Core v5.12.1 released"
Sorry :(

https://pi-hole.net/blog/2022/09/14/pi-hole-ftl-v5-18-web-v5-15-and-core-v5-12-1-released/

[2022-09-15 08:54] amgsys75 opened #120 "speedtest: error: unrecognized arguments: --accept-gdpr --accept-license -f json-pretty"
Hi,
running last command
sudo "/var/www/html/admin/scripts/pi-hole/speedtest/speedtest-official.sh"
create an error
speedtest: error: unrecognized arguments: --accept-gdpr --accept-license -f json-pretty
using speedtest-cli 2.1.2, pihole on linux mint

[2022-09-15 13:20] arevindh commented on #120
@amgsys75 is it a fresh install?

[2022-09-15 13:22] arevindh commented on #120
@amgsys75 please remove python based speedtest

Steps here : https://github.com/arevindh/pihole-speedtest/wiki/Installing-Speedtest-Mod#remove-python-cli

[2022-09-15 13:46] amgsys75 commented on #120
yes, its fresh install ...
i managed to remove it and install older version, it works
https://install.speedtest.net/app/cli/ookla-speedtest-1.2.0-linux-x86_64.tgz
using this version

[2022-09-15 14:28] arevindh commented on #120
This is the latest version

[2022-09-15 15:04] #120 closed

[2022-09-15 19:16] ChrisWNY commented on #119
Here are the change logs:

Web Interface v5.15: https://github.com/pi-hole/AdminLTE/releases/v5.15
FTL 5.18: https://github.com/pi-hole/FTL/releases/v5.18
Pi-hole core 5.12.1: https://github.com/pi-hole/pi-hole/releases/v5.12.1

An obvious issue with the previous Pi-hole is that the domains on Adlists count in the upper-right did not change after running pihole -g to update gravity. You'd have to

[2022-09-17 09:16] arevindh commented on #119
@ChrisWNY @town3r will update by tomorrow, was sick the last few days.

[2022-09-17 14:56] ChrisWNY commented on #119
Rest up and get well soon, Sid!

[2022-09-18 08:58] arevindh commented on #119
@ChrisWNY @town3r Updated, let me know if any issues occur

[2022-09-18 15:09] ChrisWNY commented on #119
Hey Sid - the web interface version is showing up as 5.14.2 after running pihole updatechecker local.

[code]

[2022-09-18 15:23] arevindh commented on #119
@ChrisWNY haven't created the release yet, if everything is fine I will create it .

[2022-09-18 15:26] ChrisWNY commented on #119
Scripts and UI seem good to go, no issues going through settings, etc. Looks good otherwise!

[2022-09-20 12:26] ChrisWNY opened #121 "Another new Pi-hole release..."
Pi-hole 5.12.2 - https://github.com/pi-hole/pi-hole/releases/tag/v5.12.2
FTL 5.18.1 - https://github.com/pi-hole/FTL/releases/tag/v5.18.1
Admin LTE 5.15.1 - https://github.com/pi-hole/AdminLTE/releases/v5.15.1

Another point release for Pi-hole.

[2022-09-26 17:16] arevindh commented on #121
Let me try this week.

[2022-10-01 01:26] arevindh commented on #121
@ChrisWNY Updated

[2022-10-01 01:31] ChrisWNY commented on #121
Awesome...I will grab the latest repo and report back shortly. Thanks!

[2022-10-01 01:34] ChrisWNY commented on #121
Seems to be working - tested the speedtest script, etc. UI looks good, version info is correct. Thanks again! Will close this out.

[2022-10-01 01:34] #121 closed

[2022-10-01 01:42] #119 closed

[2022-10-11 01:25] ChrisWNY opened #122 "Pi-hole FTL v5.18.2, Web v5.16 and Core v5.13 released"
Another new release...been busy the past month with new Pi-hole releases...

https://pi-hole.net/blog/2022/10/10/pi-hole-ftl-v5-18-2-web-v5-16-and-core-v5-13-released#page-content

[2022-10-15 09:12] chiragnahata opened #123 "FHL Error"
https://discourse.pi-hole.net/t/pihole-ftl-error/58565

[2022-10-18 06:17] arevindh commented on #123
@chiragnahata can you try to update it?

https://github.com/arevindh/pihole-speedtest/wiki/Updating--Speedtest-Mod

[2022-10-18 06:18] arevindh commented on #122
@ChrisWNY I will try to do it in a few days.

[2022-10-18 09:23] arevindh commented on #122
@ChrisWNY Updated , please check

[2022-10-18 12:19] ChrisWNY commented on #122
Downloaded the new admin repo, everything looks good. Thanks, Sid! I'll close this one out.

[2022-10-18 12:19] #122 closed

[2022-10-26 04:44] arevindh commented on #123
@chiragnahata any updates?

[2022-10-26 17:19] chiragnahata commented on #123
Same issue

[2022-10-26 17:19] chiragnahata commented on #123
??

[2022-10-26 17:26] arevindh commented on #123
Mod was updated on the same day.

Use the steps from the link in quoted reply to update .

If nothing is working try uninstalling the mod

https://github.com/arevindh/pihole-speedtest/wiki/Uninstalling-Speedtest-Mod

[2022-11-15 02:39] ChrisWNY opened #124 "Another new Pi-hole Update - 5.14.1/5.19.1/5.17"
Web interface has been updated to 5.17.

https://github.com/pi-hole/AdminLTE/releases/v5.17

[2022-11-21 05:53] arevindh commented on #124
@ChrisWNY will try to update by tomorrow

[2022-11-21 13:55] ChrisWNY commented on #124
FTL saw another update a few days ago...the web interface however remains at v5.17.

[2022-11-25 13:55] arevindh commented on #124
@ChrisWNY updated yesterday, I forgot to mention it.

[2022-11-25 16:57] ChrisWNY commented on #124
Looks good, Sid! I'll close this one out. Thanks!

[2022-11-25 16:57] #124 closed

[2022-11-26 22:01] ipitio opened #125 "No vertical axis on mobile"
![image](https://user-images.githubusercontent.com/21136719/204110416-849f2247-103f-4eea-90e0-a631c6b1c076.jpeg)

I use Safari on mobile, and the graph is flat as can be seen in the above image. It looks fine on desktop.

This bug was introduced in the previous update.